services:
  # Remove the app and nginx services since we don't need them for tests
  app: !reset null
  nginx: !reset null

  app-for-cypress:
    image: ghcr.io/mampf-hd/mampftest:image
    # only used when Cypress is running tests in CI (and NOT for unit tests)
    entrypoint: ["CI=true RUBY_DEBUG_ENABLE=false DISABLE_VITE_IN_CI=true ./init-and-run.sh"]
