services:
  # Remove the app and nginx services since we don't need them for tests
  app: !reset null
  nginx: !reset null

  app-test:
    build:
      context: ../..
      dockerfile: docker/development/Dockerfile
      args:
        IN_CI_CD: "true"      
    image: mampftest:image
