services:
  # Remove the app and nginx services since we don't need them for tests
  app: !reset null
  nginx: !reset null

  app-test:
    image: ghcr.io/mampf-hd/mampftest:image
    # only used when Cypress is running tests in CI, NOT for unit tests. For unit
    # tests, we overwrite the entrypoint to the empty string.
    command: "CI=true RUBY_DEBUG_ENABLE=0 DISABLE_VITE_IN_CI=true /workspaces/mampf/docker/development/init-and-run.sh"
    volumes:
      # see compose.cicd.build.yml
      - "/workspaces/mampf/public/"
