<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0"><%= t("registration.campaign.index.card_title") %></h5>
    <%= link_to t("registration.campaign.index.new_campaign"),
                new_lecture_registration_campaign_path(lecture),
                class: "btn btn-sm btn-primary",
                data: { turbo_stream: true } %>
  </div>
  <div class="card-body">
    <%= render "registration/campaigns/card_body_index", lecture: lecture %>
  </div>
</div>
