<div class="container">
  <%= render partial: "registration/campaigns/index", locals: { lecture: @lecture } %>

  <div class="mt-3">
    <%= link_to t("back"), lecture_roster_path(@lecture,
                                                group_type: roster_group_types(@lecture),
                                                tab: "participants"),
                class: "btn btn-secondary" %>
  </div>
</div>
