<%= turbo_frame_tag "registration_campaigns_content" do %>
  <h5 class="card-title mb-3"><%= t("registration.campaign.new.title") %></h5>
  <%= render "form", lecture: @lecture, campaign: @campaign %>
<% end %>
