<% answers.each do |a|%>
  <div>
    <span>
      <% if !defined? crosses %>
        <%= ballot_box(a.value) %>
      <% else %>
        <%= ballot_box(crosses[a.id]) %>
      <% end%>
    </span>
    <%= a.text %>
    <% if a.explanation.present? %>
      <div>
        <i>
          denn:
        </i>
        <%= a.explanation %>
      </div>
    <% end %>
  </div>
<% end %>
