<div class="row">
  <div class="col-6">
    <div class="card bg-light mb-4" id="question-basics-edit">
      <%= render partial: 'questions/basics',
                 locals: { question: question } %>
    </div>
  </div>
  <div class="col-6"
       id="questionDetails">
    <%= render partial: 'questions/edit/details',
               locals: { question: question } %>
  </div>
</div>
