<div class="row">
  <div class="col-6">
    <div id="question-basics-edit" class="card bg-light mb-4">
      <%= render partial: 'questions/basics',
      locals: { question: question } %>
    </div>
  </div>
  <div id="questionDetails"
    class="col-6">
    <%= render partial: 'questions/edit/details',
    locals: { question: question } %>
  </div>
</div>
