<div class="border rounded border-info p-2">
  Referenzierende Quizzes:
  <% if question.quiz_ids.blank? %>
    keine
  <% else %>
    <ul>
      <% question.quiz_ids.each do |q| %>
        <li>
          <%= Quiz.find_by_id(q).label %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div>
    Änderungen an dieser Frage sind
    <strong>
      globale Änderungen
    </strong>.
    <% if question.quiz_ids.present? %>
      Insbesondere werden Änderungen an dieser
      Frage und ihren Antworten in
      <strong>
        allen Quizzes
      </strong>
      , in denen diese Frage vorkommt, übernommen.
      <div class="text-center">
        <button id="button-reassign" type="button"
                class="btn btn-sm btn-secondary"
                data-toggle="modal" data-target="#reassignModal"
                data-id="<%= question.id %>"
                data-type="Question">
          Kopie erstellen
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-3">
  <% if question.parent.present? %>
    Diese Frage wurde als Kopie von
    <%= link_to question.parent.label, edit_question_path(question.parent),
                target: :_blank %>
    angelegt.
  <% end %>
</div>
<% if question.children.present? %>
  <div class="mt-3">
    Fragen, die als Kopie dieser Frage angelegt wurden:
    <ul>
      <% question.children.each do |c| %>
        <li>
          <%= link_to c.label, edit_question_path(c), target: :_blank %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
