<div class="row">
  <div class="col-11">
    <%= t('math.parsed_input') %>
  </div>
  <div class="col-1 text-end">
    <%= helpdesk(t('math.different_interpretation'), true) %>
  </div>
  <div class="col-12 text-center" id="solution-tex">
    $$
      <%# Default escaping is sufficient here because it forces pure text for KaTeX. %>
      <%# Rails sanitize method would allow HTML tags that could break math rendering. %>
      <%= solution.content.tex %>
    $$
  </div>
</div>
