<div class="row">
  <div class="col-11">
    <%= t('math.parsed_input') %>
  </div>
  <div class="col-1 text-right">
    <%= helpdesk(t('math.different_interpretation'), true) %>
  </div>
  <div class="col-12 text-center" id="solution-tex">
    $$
      <%= solution.content.tex&.html_safe %>
    $$
  </div>
</div>