<div class="row">
  <div class="col-12">
    <%= t('math.parsed_input') %>
  </div>
  <div class="col-12 text-center" id="solution-tex">
    $$
      <%= solution.content.tex&.html_safe %>
    $$
  </div>
</div>