<% provide(:title, "About") %>
<h1>Was ist MaMpf?</h1>
<p style="text-align:justify;">
E-Learning-Konzepte haben bisher in mathematische Studiengänge deutlich
weniger Einzug gehalten als in viele andere Studiengänge. Ein wichtiger Grund hierfür ist,
dass es mit gegenwärtig verfügbaren E-Learning-Systemen schwierig ist, den
spezifischen Anforderungen des mathematischen Lernprozesses  auf geeignete Weise zu begegnen.
Das Projekt <b>MaMpf</b> ("Mathematische Medienplattform") stellt einen Versuch dar,
modernste Techniken einzusetzen, um wichtige Teilaspekte des Verstehens und
Erlernens von Mathematik in den E-Learning-Kontext abzubilden. Über die
letzten Jahre ist an der Fakultät für Mathematik und Informatik der
Universität Heidelberg eine Reihe an Projekten zum E-Learning und zur
Studiumsorganisation entstanden. MaMpf vereinheitlicht und vernetzt die
bisher getrennten Projekte und integriert neue Projekte. Die Teilprojekte
von Projekt MaMpf sind KaViaR, KeKs, ErDBeere, SeSAM, RestE und MÜSLI.
</p>
<h3>KaViaR</h3>
<p style="text-align:justify;">
  Traditionelle Mathematikvorlesungen verwenden Tafel und Kreide als
  Präsentationsmedium, Powerpointpräsentationen spielen
  in mathematischen Fachvorlesungen dagegen so gut wie keine
  Rolle. Der Grund hierfür ist keineswegs Faulheit der Lehrenden: Tafel
  und Kreide begrenzen klar die Geschwindigkeit, in denen Informationen
  vorgetragen werden können und zwingen sowohl Lernende als auch
  Lehrende zu der besonderen Genauigkeit und Vorsicht bei
  Detailformulierungen, die für die Mathematik charakteristisch sind.
  Neuere Ansätze, die moderne Medien involvieren und darauf abzielen,
  Vorlesungsinhalte online verfügbar zu machen, versuchen daher meist,
  das Konzept der Tafelvorlesung beizubehalten und diese per Kamera auf
  Video aufzuzeichnen. Das bringt jedoch etliche Probleme mit sich. Zum
  einen benötigt man in der Regel zusätzliches Personal im
  Hörsaal, das sich um den Aufzeichnungsprozess kümmert, zum anderen
  braucht man geeignetes Kameraequipment. Ferner verdeckt die
  Lehrperson ganz natürlich permanent einen Teil des
  Tafelanschriebs. Das Projekt <b>KaViaR</b> ("Kameraloses Videoaufzeichnungssystem zur
  Rekapitulationsunterstützung") zeigt eine Alternative auf,
  welche das Potential einer kamerabasierten Videoaufzeichnung in unseren Augen
  deutlich übertrifft, und das mit geringeren Kosten. Die relativ
  einfache Grundidee besteht darin, den Prozess des Anschreibens zur
  Entwicklung mathematischer Gedankengänge beizubehalten, diesen
  jedoch auf einem stiftfähigen Tablet anstelle mit Kreide an der Tafel
  auszuführen. Über einen Beamer wird der Anschrieb auf eine Leinwand projiziert,
  so dass die Hörer weiterhin alles verfolgen können. Auf dem Tablet wird in einer
  Notizsoftware geschrieben, im Hintergrund läuft eine Screenrecording-Software,
  die ein Video von allen Bildschirmaktivitäten aufzeichnet und über ein
  externes Mikrofon einen Audiomitschnitt anfertigt. Im Anschluss an die
  Lehrveranstaltung kann ein Authoring des aufgezeichneten Videos
  erfolgen. Insbesondere besteht die Möglichkeit, dieses durch
  zusätzliche Elemente wie etwa Tags, Quizzes oder Hyperlinks zum
  Vorlesungsmanuskript anzureichern. Das Erstellen eines pdf-Skriptes
  aus dem Mitschrieb ist mit wenigen Mausklicks möglich. Der Besuch
  der Vorlesung wird daher nicht nur imitiert, sondern durch zusätzliche
  Materialien ergänzt, die die eigenständige Nachbearbeitung des
  Materials durch die Lernenden erleichtern.
</p>
<h3>KeKs</h3>
<p style="text-align:justify;">
  Um die Beschäftigung mit dem Vorlesungsstoff zu intensivieren und
  ein Feedback über die Lernzuwächse zu geben, bieten die meisten
  modernen E-Learning-Systeme Quizzes an.  Im Kontext der Mathematik
  können dabei in sinnvoller Weise nur Systeme eingesetzt werden, die
  es erlauben, mathematische Textsatzsysteme wie LaTeX zu verwenden. So
  gut die Möglichkeiten in diesen Systemen auch sind, einzelne
  vorlesungsbegleitende Quizzes anzulegen, sind sie dennoch nicht
  geeignet, umfangreichere Mengen von Quizfragen effizient zu verwalten.

  An der Fakultät für Mathematik und  Informatik der Universität
  Heidelberg ist auf Vorschlag der Fachschaft hin im Jahr 2013 von
  studentischen Hilfskräften das System <b>KeKs</b> ("Kompetenzerweiterndes
  Kurzfragensystem") entwickelt worden, welches seitdem weiter
  ausgebaut und gepflegt worden ist. Hierbei handelt es sich um eine
  umfangreiche Datenbank, in der Fragen zu klassischen
  Mathematikvorlesungen der ersten Semester abgespeichert sind, zusammen
  mit einer Weboberfläche, die es Studierenden ermöglicht, sich in
  Quizform mit den Fragen zu beschäftigen. Die Fragendatenbank umfasst momentan
  mehr als 5000 Fragen.
</p>
<h3>ErDBeere</h3>
<p style="text-align:justify;">
  Von großer Bedeutung für das Verständnis mathematischer
  Theorien ist die intensive Beschäftigung mit Beispielen. Projekt
  <b>ErDBeere</b> ("Erkenntnisfördernde Datenbank zur Beispielerfassung und
  -entwicklung") sieht vor, eine intelligente Datenbank von Beispielen mathematischer
  Objekte aufzubauen. Diese soll es Studierenden gezielt ermöglichen,
  nach konkreten mathematischen Objekten mit bestimmten Eigenschaften zu
  suchen. Die Datenbank enthält dabei auch die Nachweise der
  entsprechenden Eigenschaften, sei es in Textform oder in Videoform mit
  Techniken aus KaViaR. Über die Datenbankfunktion hinaus sollen in dem
  Projekt auch abstrakte Implikationen abgebildet werden. So soll es
  etwa möglich sein, dass das Programm nicht nur zurückmeldet: "In
  der Datenbank wurde kein Objekt mit den gewünschten Eigenschaften
  gefunden", sondern "Ein Objekt mit den gewünschten Eigenschaften kann
  nach den Sätzen ... nicht existieren"'. Vom Projekt "ErDBeere" existiert
  bisher nur ein Prototyp, der im Laufe des Sommersemesters 2017 zum ersten Mal
  zum Einsatz kommen soll.
</p>
<h3>SeSAM</h3>
 <p style="text-align:justify;">
   Algorithmen zur Problemlösung und Methoden zur Untersuchung der Eigenschaften
   mathematischer Objekte spielen eine wichtige Rolle in der Mathematik. Echtes
   Verständnis dafür wird aber nur erzielt, wenn man neben der theoretischen Kenntnis
   von Algorithmen und Methoden - wie sie typischerweise in Vorlesungen vermittelt wird -
   auch Übung darin hat, diese Algorithmen und Methoden auf konkrete mathematische Probleme
   bzw. Objekte anzuwenden. Ein erster Schritt besteht meist darin, einfache Beispiele
   nachzuvollziehen. Im Projekt <b>SeSAM</b> ("Sammlung exemplarischer Schilderungen
   von Algorithmen und Methoden") soll eine Datenbank mit typischen Beispielen zur
   Anwendung klassischer Algorithmen und Methoden angelegt werden. Diese sollen dabei
   mit Techniken aus KaViaR in Videoform hinterlegt werden und über eine Webplattform
   abrufbar sein. Das Projekt SeSAM soll im Sommersemester 2017 starten.
 </p>
<h3>RestE</h3>
<p style="text-align:justify;">
  Das System <b>RestE</b> ("Restliche E-Learning-Angebote") nimmt innerhalb von
  MaMpf diejenigen Medien auf, die nicht unter die bisher genannten Konzepte
  fallen. Das beinhaltet etwa Vorlesungsmanuskripte außerhalb von KaViaR, Quizzes außerhalb von
  KeKs oder Beispiele außerhalb von ErDBeere und SeSAM. Außerdem soll RestE als
  Spielwiese für neue Ideen und Konzepte dienen.
</p>
<h3>MÜSLI</h3>
<p style="text-align:justify;">
  In der Fakultät für Mathematik und Informatik der Universität Heidelberg
  wird das System <b>MÜSLI</b> ("Mathematisches Übungsgruppen- und Scheinlisten-Interface")
  zur Verwaltung von Übungsgruppen eingesetzt.
  MÜSLI ist eine Eigenentwicklung der Fakultät, die bereits seit über 10
  Jahren verwendet wird. Alle klassischen Prozesse wie das Eintragen von
  Übungspunkten durch Tutoren, das Eintragen von Klausurpunkten oder das
  Berechnen von Noten sind in dem System abgebildet. Als besondere Features
  bietet MÜSLI unter anderem die Möglichkeit, Notenlisten automatisch in
  einem HISPOS-tauglichen Excel-File exportieren und die Möglichkeit,
  automatische Übungsgruppeneinteilungen basierend auf Präferenzangaben
  von Terminen durch die Studierenden zu erstellen. Hierbei kommt ein
  Optimierungs-Algorithmus zum Einsatz, der eine Einteilung erzeugt,
  die möglichst vielen Studierenden einen Termin gemäß ihrer Präferenzen
  zuordnet.
</p>
<h2>Ideen</h2>
<p style="text-align:justify;">
Es ist beabsichtigt, die Systeme in Zukunft zu vereinheitlichen und miteinander
zu vernetzen. Unter anderem ist die Umsetzung der folgenden Punkte geplant:
<ul>
 <li> Single-Sign-On für alle beteiligten Systeme mit der Uni-ID </li>
 <li> Vereinheitlichung der Oberfläche </li>
 <li> Abfrage der von einem Studierenden gegenwärtig belegten Module aus der
   MÜSLI-Datenbank und automatische Bereitstellung der passenden Videokanäle
   aus KaViaR und passender Fragen aus KeKs</li>
 <li> Erstellung von Videos zu allen Fragen aus der KeKs-Datenbank, in welchen
   jeweils die Lösung erklärt wird, unter Verwendung von Techniken aus dem
   KaViaR-Projekt</li>
 <li> Einbindung von KeKs-Fragen und SeSAM-Beispielen als interaktiver Inhalt
   in Vorlesungsvideos aus dem Projekt KaViaR</li>
 <li> Anzeige verwandter Inhalte aus der Gesamtdatenbank bei Auswahl eines Mediums
   aus einem der Teilprojekte </li>
</ul>
</p>
