<% provide(:title, "About") %>
<div class="jumbotron bg-mdb-color-lighten-6">
  <ul class="nav nav-pills"
      id="myTab"
      role="tablist">
    <li class="nav-item">
      <a class="nav-link active"
         id="kaviar-tab"
         data-toggle="tab"
         href="#kaviar"
         role="tab"
         aria-controls="kaviar" aria-expanded="true">
        KaViaR
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         id="keks-tab"
         data-toggle="tab"
         href="#keks"
         role="tab"
         aria-controls="keks" aria-expanded="true">
        KeKs
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         id="sesam-tab"
         data-toggle="tab"
         href="#sesam"
         role="tab"
         aria-controls="sesam" aria-expanded="true">
        SeSAM
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         id="kiwi-tab"
         data-toggle="tab"
         href="#kiwi"
         role="tab"
         aria-controls="kiwi" aria-expanded="true">
        KIWi
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         id="erdbeere-tab"
         data-toggle="tab"
         href="#erdbeere"
         role="tab"
         aria-controls="erdbeere" aria-expanded="true">
        ErDBeere
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         id="nuesse-tab"
         data-toggle="tab"
         href="#nuesse"
         role="tab"
         aria-controls="nuesse" aria-expanded="true">
        NÜSsE
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         id="thyme-tab"
         data-toggle="tab"
         href="#thymeinfo"
         role="tab"
         aria-controls="thymeinfo" aria-expanded="true">
        Thyme
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         id="muesli-tab"
         data-toggle="tab"
         href="#muesli"
         role="tab"
         aria-controls="muesli" aria-expanded="true">
        MÜSLI
      </a>
    </li>
  </ul>
  <div class="tab-content pt-3"
       id="myTabContent">
    <div class="tab-pane fade show active"
         id="kaviar"
         role="tabpanel"
         aria-labelledby="kaviar-tab">
      Traditionelle Mathematikvorlesungen verwenden Tafel und Kreide als
      Präsentationsmedium, Powerpointpräsentationen spielen
      in mathematischen Fachvorlesungen dagegen so gut wie keine
      Rolle. Der Grund hierfür ist keineswegs Faulheit der Lehrenden: Tafel
      und Kreide begrenzen klar die Geschwindigkeit, in denen Informationen
      vorgetragen werden können und zwingen sowohl Lernende als auch
      Lehrende zu der besonderen Genauigkeit und Vorsicht bei
      Detailformulierungen, die für die Mathematik charakteristisch sind.
      Neuere Ansätze, die moderne Medien involvieren und darauf abzielen,
      Vorlesungsinhalte online verfügbar zu machen, versuchen daher meist,
      das Konzept der Tafelvorlesung beizubehalten und diese per Kamera auf
      Video aufzuzeichnen. Das bringt jedoch etliche Probleme mit sich. Zum
      einen benötigt man in der Regel zusätzliches Personal im
      Hörsaal, das sich um den Aufzeichnungsprozess kümmert, zum anderen
      braucht man geeignetes Kameraequipment. Ferner verdeckt die
      Lehrperson ganz natürlich permanent einen Teil des
      Tafelanschriebs. Das Projekt <b>KaViaR</b>
      ("Kameraloses Videoaufzeichnungssystem zur Rekapitulationsunterstützung")
      zeigt eine Alternative auf, welche das Potential einer kamerabasierten
      Videoaufzeichnung in unseren Augen deutlich übertrifft, und das mit
      geringeren Kosten. Die relativ einfache Grundidee besteht darin, den
      Prozess des Anschreibens zur Entwicklung mathematischer Gedankengänge
      beizubehalten, diesen jedoch auf einem stiftfähigen Tablet anstelle mit
      Kreide an der Tafel auszuführen. Über einen Beamer wird der Anschrieb
      auf eine Leinwand projiziert, so dass die HörerInnen weiterhin alles
      verfolgen können. Auf dem Tablet wird in einer Notizsoftware geschrieben,
      im Hintergrund läuft eine Screenrecording-Software, die ein Video von
      allen Bildschirmaktivitäten aufzeichnet und über ein
      externes Mikrofon einen Audiomitschnitt anfertigt. Im Anschluss an die
      Lehrveranstaltung kann ein Authoring des aufgezeichneten Videos
      erfolgen. Insbesondere besteht die Möglichkeit, dieses durch
      zusätzliche Elemente wie etwa Tags, Quizzes oder Hyperlinks zum
      Vorlesungsmanuskript anzureichern. Das Erstellen eines pdf-Skriptes
      aus dem Mitschrieb ist mit wenigen Mausklicks möglich. Der Besuch
      der Vorlesung wird daher nicht nur imitiert, sondern durch zusätzliche
      Materialien ergänzt, die die eigenständige Nachbearbeitung des
      Materials durch die Lernenden erleichtern.
    </div>
    <div class="tab-pane fade"
         id="keks"
         role="tabpanel"
         aria-labelledby="keks-tab">
      Um die Beschäftigung mit dem Vorlesungsstoff zu intensivieren und
      ein Feedback über die Lernzuwächse zu geben, bieten die meisten
      modernen E-Learning-Systeme Quizzes an.  Im Kontext der Mathematik
      können dabei in sinnvoller Weise nur Systeme eingesetzt werden, die
      es erlauben, mathematische Textsatzsysteme wie LaTeX zu verwenden. So
      gut die Möglichkeiten in diesen Systemen auch sind, einzelne
      vorlesungsbegleitende Quizzes anzulegen, sind sie dennoch nicht
      geeignet, umfangreichere Mengen von Quizfragen effizient zu verwalten.

      An der Fakultät für Mathematik und  Informatik der Universität
      Heidelberg ist auf Vorschlag der Fachschaft hin im Jahr 2013 von
      studentischen Hilfskräften das System <b>KeKs</b> ("Kompetenzerweiterndes
      Kurzfragensystem") entwickelt worden, welches seitdem weiter
      ausgebaut und gepflegt worden ist. Hierbei handelt es sich um eine
      umfangreiche Datenbank, in der Fragen zu klassischen
      Mathematikvorlesungen der ersten Semester abgespeichert sind, zusammen
      mit einer Weboberfläche, die es Studierenden ermöglicht, sich in
      Quizform mit den Fragen zu beschäftigen. Die Fragendatenbank umfasst
      momentan mehr als 3000 Fragen.
    </div>
    <div class="tab-pane fade"
         id="erdbeere"
         role="tabpanel"
         aria-labelledby="erdbeere-tab">
      Von großer Bedeutung für das Verständnis mathematischer
      Theorien ist die intensive Beschäftigung mit Beispielen. Projekt
      <b>ErDBeere</b> ("Erkenntnisfördernde Datenbank zur Beispielerfassung und
      -entwicklung") sieht vor, eine intelligente Datenbank von Beispielen
      mathematischer Objekte aufzubauen. Diese soll es Studierenden gezielt
      ermöglichen, nach konkreten mathematischen Objekten mit bestimmten
      Eigenschaften zu suchen. Die Datenbank enthält dabei auch die Nachweise
      der entsprechenden Eigenschaften, sei es in Textform oder in Videoform mit
      Techniken aus KaViaR. Über die Datenbankfunktion hinaus sollen in dem
      Projekt auch abstrakte Implikationen abgebildet werden. So soll es
      etwa möglich sein, dass das Programm nicht nur zurückmeldet: "In
      der Datenbank wurde kein Objekt mit den gewünschten Eigenschaften
      gefunden", sondern "Ein Objekt mit den gewünschten Eigenschaften kann
      nach den Sätzen ... nicht existieren"'. Vom Projekt "ErDBeere" existiert
      bisher ein Prototyp, der im Laufe des Sommersemesters 2017 zum ersten Mal
      zum Einsatz gekommen ist.
    </div>
    <div class="tab-pane fade"
         id="sesam"
         role="tabpanel"
         aria-labelledby="sesam-tab">
      Algorithmen zur Problemlösung und Methoden zur Untersuchung der
      Eigenschaften mathematischer Objekte spielen eine wichtige Rolle in der
      Mathematik. Echtes Verständnis dafür wird aber nur erzielt, wenn man
      neben der theoretischen Kenntnis von Algorithmen und Methoden - wie sie
      typischerweise in Vorlesungen vermittelt wird - auch Übung darin hat,
      diese Algorithmen und Methoden auf konkrete mathematische Probleme
      bzw. Objekte anzuwenden. Ein erster Schritt besteht meist darin, einfache
      Beispiele nachzuvollziehen. Im Projekt <b>SeSAM</b>
      ("Sammlung exemplarischer Schilderungen von Algorithmen und Methoden")
      soll eine Datenbank mit typischen Beispielen zur Anwendung klassischer
      Algorithmen und Methoden angelegt werden. Diese sollen dabei
      mit Techniken aus KaViaR in Videoform hinterlegt werden und über eine
      Webplattform abrufbar sein. Das Projekt ist im Sommersemester 2017
      gestartet.
    </div>
    <div class="tab-pane fade"
         id="kiwi"
         role="tabpanel"
         aria-labelledby="kiwi-tab">
      Die Mathematikausbildung ist dadurch gekennzeichnet, dass Vorlesungen in
      sehr starkem Maß aufeinander aufbauen. Das führt in Vorlesungen
      zwangsläufig zu einem Dilemma: Während einem Teil der Studierenden
      Wiederholungen von benötigten Inhalten aus vorangegangenen Vorlesungen
      gar nicht weit genug gehen können, fühlt sich ein anderer Teil dadurch
      gelangweilt. Das System <b>KIWi</b>
      ("Katalog von Inhalten zur Wissensauffrischung")
      versucht diesem Problem dadurch abzuhelfen, dass vor der jeweiligen
      Vorlesungssitzung wohldosierte, kleine Wiederholungsvideos die
      benötigten Inhalte auffrischen. Auf die Existenz der KIWi-Videos wird
      rechtzeitig der Vorlesungssitzung über Twitter hingewiesen.
    </div>
    <div class="tab-pane fade"
         id="nuesse"
         role="tabpanel"
         aria-labelledby="nuesse-tab">
      Das System <b>NÜSsE</b> ("Nachhaltig verfügbare Übungsblätter, Skripte
      und sonstige Extramaterialien") beherbergt klassische die
      Vorlesungsmaterialien: Übungsblätter, Manuskripte und darüber hinaus
      alles, was in keine andere Kategorie passt.
    </div>
    <div class="tab-pane fade"
         id="thymeinfo"
         role="tabpanel"
         aria-labelledby="thyme-tab">
      E-Learning-Angebote sollen Lernprozesse selbstbestimmter gestalten.
      Sie sind meist unabhängig von Aufenthaltsort und Zeitpunkt -
      im Fall von Video-basierten Lernangeboten orientieren sie sich
      aber eng an traditionelle Formen des Lernens und kopieren einige
      der Schwächen. Zu diesen zählen, dass Verweise auf vorangegangenes
      und weiterführendes Material schwierig sind; auch, weil sie nicht
      für alle Lernenden gleichermaßen relevant sind.
      <b>Thyme</b> ("THe HYperMedia Experience") ist der eigens für
      MaMpf entwickelte Video-Player und -Editor. Er erlaubt
      Querverweise auf andere MaMpf-Inhalte, wie zurückliegende
      Definitionen oder präzise Formulierungen von Sätzen, vorgerechnete
      Beispiele und inhaltlich abgestimmte Quizzes. Die Präsentation
      dieser Verweise ist dabei so gestaltet, dass sie möglichst wenig
      vom eigentlich präsentierten Inhalt ablenken.
    </div>
    <div class="tab-pane fade"
         id="muesli"
         role="tabpanel"
         aria-labelledby="muesli-tab">
      In der Fakultät für Mathematik und Informatik der Universität Heidelberg
      wird das System <b>MÜSLI</b> ("Mathematisches Übungsgruppen- und
      Scheinlisten-Interface") zur Verwaltung von Übungsgruppen eingesetzt.
      MÜSLI ist eine Eigenentwicklung der Fakultät, die bereits seit über 10
      Jahren verwendet wird. Alle klassischen Prozesse wie das Eintragen von
      Übungspunkten durch Tutoren, das Eintragen von Klausurpunkten oder das
      Berechnen von Noten sind in dem System abgebildet. Als besondere Features
      bietet MÜSLI unter anderem die Möglichkeit, Notenlisten automatisch in
      einem HISPOS-tauglichen Excel-File exportieren und die Möglichkeit,
      automatische Übungsgruppeneinteilungen basierend auf Präferenzangaben
      von Terminen durch die Studierenden zu erstellen. Hierbei kommt ein
      Optimierungs-Algorithmus zum Einsatz, der eine Einteilung erzeugt,
      die möglichst vielen Studierenden einen Termin gemäß ihrer Präferenzen
      zuordnet.
    </div>
  </div>
</div>
