<% provide(:title, "Home") %>
<% if !user_signed_in? %>
  <div class="alert alert-primary" role="alert">
    Falls Du noch keinen Account hast, klicke einfach auf
    <%= link_to "Registrieren", new_user_registration_path %>.
  </div>
<% end %>
<div class="jumbotron bg-mdb-color-lighten-6">
  <h1>
    MaMpf
  </h1>
  <p>
    Herzlich willkommen auf der Homepage von MaMpf, der Mathematischen
    Medienplattform des Mathematischen Instituts der Universität Heidelberg.
  </p>
  <h3>
    Was ist MaMpf?
  </h3>
  <p>
    E-Learning-Konzepte haben bisher in mathematische Studiengänge deutlich
    weniger Einzug gehalten als in viele andere Studiengänge. Ein wichtiger
    Grund hierfür ist, dass es mit gegenwärtig verfügbaren E-Learning-Systemen
    schwierig ist, den spezifischen Anforderungen des mathematischen
    Lernprozesses  auf geeignete Weise zu begegnen.
    Das Projekt MaMpf stellt einen Versuch dar, modernste Techniken einzusetzen,
    um wichtige Teilaspekte des Verstehens und Erlernens von Mathematik in den
    E-Learning-Kontext abzubilden. Über die letzten Jahre ist an der Fakultät
    für Mathematik und Informatik der Universität Heidelberg eine Reihe an
    Projekten zum E-Learning und zur Studiumsorganisation entstanden.
    MaMpf vereinheitlicht und vernetzt die bisher getrennten Projekte und
    integriert neue Projekte. Die Teilprojekte von Projekt MaMpf sind KaViaR,
    KeKs, ErDBeere, SeSAM, KIWi, NÜSsE und BananE (in Entwicklung).
    Auf unserem
    <%= link_to 'Blog', DefaultSetting::BLOG_LINK, target: :blank %>
    kannst Du mehr über diese erfahren.
  </p>
</div>
