<% provide(:title, "Home") %>
<% if !user_signed_in? %>
  <div class="alert alert-primary" role="alert">
    Falls Du noch keinen Account hast, klicke einfach auf
    <%= link_to "Registrieren", new_user_registration_path %>.
  </div>
<% end %>
<div class="jumbotron bg-mdb-color-lighten-6">
  <h1>
    <%= image_tag '/MaMpf-Logo_96x96.png', class: 'img-fluid mr-2' %>
    MaMpf
  </h1>
  <p>
    Herzlich willkommen auf der Homepage von MaMpf, der Mathematischen
    Medienplattform des Mathematischen Instituts der Universität Heidelberg.
  </p>
    MaMpf ist ein ständig wachsendes Projekt, das verschiedene
    E-Learning-Angebote bündelt. Auf MaMpf stehen dir zur Verfügung:
  <ul>
    <li>
      <strong>
        Vorlesungsvideos
      </strong>
      zu Algebra, Lineare Algebra und Mengentheoretische
      Topologie
    </li>
    <li>
      <strong>
      Beispielvideos
      </strong>
      zu Algebra, Analysis, Geometrie und Lineare Algebra
    </li>
    <li>
      <strong>
      Quizzes
      </strong>
      zu Algebra, Analysis, Lineare Algebra
    </li>
    <li>
      eine intelligente
      <strong>
        Beispieldatenbank
      </strong>
    </li>
  </ul>
  Neugierig geworden?
  <%= link_to 'Hier', DefaultSetting::BLOG_LINK, target: :blank %>
  findest du weitere Informationen über und Neuigkeiten zu MaMpf.
</div>
