<h4>
	Aktuelle Veranstaltungen
</h4>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6">
	<%= render partial: 'main/start/teachable',
						 collection: @active_lectures,
						 as: :teachable %>
</div>
<h4>
	Weitere abonnierte Veranstaltungen
</h4>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6">
	<%= render partial: 'main/start/teachable',
						 collection: @inactive_lectures,
						 as: :teachable %>
</div>
<h4>
	Abonnierte Module ohne Veranstaltung
</h4>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6">
	<%= render partial: 'main/start/teachable',
						 collection: @courses_without_lectures,
						 as: :teachable %>
</div>
<h4>
	Sonstige Veranstaltungen
</h4>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6">
	<%= render partial: 'main/start/teachable',
						 collection: @nonsubscribed_lectures.sort_by(&:begin_date).reverse,
						 as: :teachable %>
</div>
