<% group_type ||= :all %>
<div class="col-12">
  <%= turbo_frame_tag roster_maintenance_frame_id(group_type),
                      src: lecture_roster_path(@lecture, group_type: group_type),
                      loading: "lazy" do %>
    <div class="text-center my-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  <% end %>
</div>
