<div class="card bg-light">
  <div class="card-header bg-generic-card-header">
    <h5>
      <%= t('basics.related_questions') %>
      <span class="badge badge-secondary">
        <%= questions.count %>
      </span>
    </h5>
  </div>
  <div class="card-body">
    <% if questions %>
      <div class="row">
        <div class="col-12 text-center">
          <%= link_to t('test.start'),
                      tag_random_quiz_path(tag),
                      class: 'btn btn-sm btn-primary',
                      target: :_blank %>
        </div>
      </div>
    <% end %>
  </div>
</div>