<div class="card mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0"><%= t("registration.policy.index.title") %></h5>
    <%= link_to t("registration.policy.index.add"),
                new_registration_campaign_policy_path(@campaign),
                class: "btn btn-sm btn-primary",
                data: { turbo_frame: "policy_form" } %>
  </div>
  <div class="card-body">
    <%= turbo_frame_tag "policy_form" %>
    <%= render "registration/policies/list" %>
  </div>
</div>
