<%= turbo_frame_tag "policy_form" do %>
  <div class="card mb-3 border-primary">
    <div class="card-header bg-primary text-white">
      <%= t("registration.policy.edit.title") %>
    </div>
    <div class="card-body">
      <%= render "form" %>
    </div>
  </div>
<% end %>
