<% correct_answers = answers.select(&:value) %>
<% if correct_answers.present? %>
  <ul>
    <% correct_answers.each do |a| %>
      <li class="p-2">
        <%= a.text %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= t('admin.quiz.none_correct') %>
<% end %>
