<div class="row justify-content-center px-2">
  <div class="col-sm-12 col-md-12 col-lg-10">
		<div class="card bg-grey-lighten-4 mt-2 border-secondary">
  		<div class="card-body">
  			<span class="badge badge-secondary">
        	<%= t('basics.note') %>.
      	</span>
  			<%= t('admin.quiz.course_disclaimer',
  						course: course.title) %>
  			<%= t('test.notation') %>
  		</div>
  	</div>
  </div>
</div>