<div id="quiz_error">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-10">
      <div class="card bg-orange-lighten-4 mt-2">
        <div class="card-body">
          Da ist leider ein Fehler aufgetreten.
          Diese Abzweigung wurde nicht implementiert.
        </div>
      </div>
    </div>
  </div>
</div>
