<div id="quiz_error">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-10">
      <div class="card bg-orange-lighten-4 mt-2">
        <div class="card-body">
          Da ist leider ein Fehler aufgetreten.
          Diese Abzweigung wurde nicht implementiert.
          <%= link_to 'Zurück zur Quiz-Übersicht', quizzes_path,
                      class: 'btn btn-primary m-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
