<div id="finale" class="no_display">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-10">
      <div class="card bg-remark mt-2">
        <div class="card-body">
          Du hast es geschafft! Zur Belohnung gibt es ein
          <%= link_to 'XKCD', 'https://xkcd.com', target: :_blank %>-Comic:
          <div>
            <% xkcd_comic = URI.extract(XKCD.img, ['https'])&.first %>
            <%= link_to image_tag(xkcd_comic, class: "img-fluid"), xkcd_comic,
                        target: :_blank %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
