<div class="row">
  <div class="col-12 text-center">
    <button class="btn btn-sm btn-light border border-secondary"
            id="toggle_results-<%= round_id %>">
      <div>
        <span id="correctness-<%= round_id %>">
        </span>
      </div>
      <div id="toggle_message-<%= round_id %>">
        Details
      </div>
    </button>
  </div>
</div>
