<% question = Question.find(vertex[:id]) %>
<div class="text-center">
  <div class="col-12">
  <% if input == question.answer_scheme %>
    Super, das war richtig!
  <% else %>
    Das war leider nicht ganz richtig.
  <% end %>
  <% if question.video || question.manuscript %>
    Es gibt
    <% if question.video %>
      ein
      <%= link_to 'Erklärvideo',
                  play_medium_path(question),
                  target: :_blank %>
    <% end %>
    <% if question.video && question.manuscript %>
      und
    <% end %>
    <% if question.manuscript %>
      ein
      <%= link_to 'Manuskript',
                  display_medium_path(question),
                  target: :_blank %>
    <% end %>
    zu dieser Frage.
  <% end %>
  </div>
  <div class="col-12 mt-2">
    <button id="accept_results" type="button" class="btn btn-secondary">
      Alles klar!
    </button>
  </div>

</div>
