<% question = Question.find(vertex[:id]) %>
<div class="text-center">
  <div class="col-12">
  <% if input == question.answer_scheme %>
    Super, das war richtig!
  <% else %>
    Das war leider nicht ganz richtig.
  <% end %>
  </div>
  <div class="col-12">
    <button id="accept_results" type="button" class="btn btn-secondary">
      Alles klar!
    </button>
  </div>
  <% if question.video %>
    <div class="col-12 my-3">
      Es gibt ein Video zu dieser Frage:
    </div>
    <div class="col-12">
      <%= link_to image_tag(question.screenshot_url,
                            class: 'img-fluid',
                            id: 'manuscript-preview'),
                  play_medium_path(question),
                  target: :blank %>
    </div>
  <% end %>
</div>
