<div class="modal" id="quizzableModal" tabindex="-1" role="dialog"
     aria-labelledby="quizzableModalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static" data-modal-index="1">
  <div class="modal-dialog modal-xxl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quizzableModalLabel">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div id="quizzable-data">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-sm btn-secondary"
                data-bs-dismiss="modal"
                id="closeQuizzableModal">
          <%= t('buttons.close') %>
        </button>
      </div>
    </div>
  </div>
</div>
