<div
  id="reassignModal"
  class="modal fade"
  aria-hidden="true"
  aria-labelledby="reassignModalLabel"
  data-backdrop="static"
  data-keyboard="false"
  data-modal-index="2"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="reassignModalLabel" class="modal-title">
          <%= t('buttons.create_copy') %>
        </h5>
        <button type="button" class="btn-close"
          aria-label="Close"
          data-bs-dismiss="modal">
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div id="reassign-data">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-sm btn-secondary"
          data-bs-dismiss="modal">
          <%= t('buttons.cancel') %>
        </button>
      </div>
    </div>
  </div>
</div>
