<div class="modal fade" id="reassignModal" role="dialog"
     aria-labelledby="reassignModalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static" data-modal-index="2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reassignModalLabel">
          <%= t('buttons.create_copy') %>
        </h5>
        <button type="button" class="close"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div id="reassign-data">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-sm btn-secondary"
                data-bs-dismiss="modal">
          <%= t('buttons.cancel') %>
        </button>
      </div>
    </div>
  </div>
</div>
