services:
  redis:
    image: "redis:6.2.6-alpine"

  db:
    image: postgres:17-bookworm
    environment:
      - POSTGRES_USER=localroot
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - type: volume
        source: db-data
        target: /var/lib/postgresql/data
      # https://docs.docker.com/guides/pre-seeding/#pre-seed-the-database-by-bind-mounting-a-sql-script
      - ../../db/create-mampf-db.sql:/docker-entrypoint-initdb.d/create-mampf-db.sql

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@mampf.edu
      PGADMIN_DEFAULT_PASSWORD: pgmampf
    volumes:
      - pgadmin:/var/lib/pgadmin
      # Pre-load server definition into pgAdmin (so that no manual setup via
      # the web interface is required). See "pgadmin4/servers.json" here:
      # -> https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html#mapped-files-and-directories
      # -> https://forums.docker.com/t/automatically-connect-pgadmin-to-a-postgresql-volume-on-which-there-is-a-database-and-automatically-load-a-schema-present-on-a-sql-file-with-docker-compose/124647/2
      #
      # This only loads once, see: https://github.com/pgadmin-org/pgadmin4/issues/8071
      - type: bind
        source: ../../config/db-pgadmin.json
        target: /pgadmin4/servers.json

  mailcatcher:
    restart: on-failure:10
    image: dockage/mailcatcher:latest
    ports:
      - "127.0.0.1:1080:1080"

  imap:
    image: antespi/docker-imap-devel:latest
    ports:
      - "1025:25"
      - "10143:143"
      - "10993:993"
    environment:
      - MAILNAME=localhost
      - MAIL_ADDRESS=mampf@localhost
      - MAIL_PASS=mampf

  mampf:
    build:
      context: ./../..
      dockerfile: docker/development/Dockerfile
    image: mampf:dev-and-test
    # Only pull from local images, do not contact online registry
    # https://stackoverflow.com/questions/46032392/docker-compose-does-not-allow-to-use-local-images#comment135243253_57644157
    # -> did not work
    # https://github.com/docker/compose/issues/3660
    pull_policy: never
    environment:
      RAILS_ENV: development
      NODE_ENV: development
      MAMPF_PORT: 3000
      # If you change these variables, make sure to adapt accordingly in
      # config/db-pgadmin.json
      DATABASE_ADAPTER: postgresql
      DEVELOPMENT_DATABASE_DATABASE: mampf
      DEVELOPMENT_DATABASE_INTERACTIONS: mampf_interactions
      DEVELOPMENT_DATABASE_USERNAME: localroot
      DEVELOPMENT_DATABASE_HOST: db
      DEVELOPMENT_DATABASE_PORT: 5432
      # Some Rails tasks like db:drop etc. iterate over all environments,
      # so we need to set the test database variables here as well.
      TEST_DATABASE_DATABASE: mampf-test
      TEST_DATABASE_INTERACTIONS: interactions-test
      TEST_DATABASE_USERNAME: localroot
      TEST_DATABASE_HOST: db
      TEST_DATABASE_PORT: 5432
      MAX_DELETIONS_PER_RUN: 50
      MAILSERVER: mailcatcher
      FROM_ADDRESS: development@localhost
      URL_HOST: localhost
      URL_HOST_SHORT: localhost
      SECRET_KEY_BASE: testenvironment
      MUESLI_SERVER: https://muesli.mathi.uni-heidelberg.de
      PROJECT_EMAIL: project@localhost
      FEEDBACK_EMAIL: feedback@localhost
      PROJECT_NOTIFICATION_EMAIL: project+notification@localhost
      ERROR_EMAIL: mampf-error@mathi.uni-heidelberg.de
      INSTANCE_PATH: mampf
      REDIS_URL: redis://redis:6379/1
      SPROCKETS_CACHE: /cache
      VITE_RUBY_HOST: 0.0.0.0
      MAMPF_REGISTRATION_TIMEFRAME: 25
      MAMPF_MAX_REGISTRATION_PER_TIMEFRAME: 40
      IMAPSERVER: imap:10993
      IMAP_TLS_IGNORE_CERT: 1
      PROJECT_EMAIL_USERNAME: mampf
      PROJECT_EMAIL_PASSWORD: mampf
      PROJECT_EMAIL_MAILBOX: INBOX
      BLOG: https://mampf.blog
      # DB Preseeding with initial data.
      # We don't specify a value here to let docker compose look up the values
      # in the current environment/shell. This is used in the docker.justfile.
      DB_SQL_PRESEED_URL:
      UPLOADS_PRESEED_URL:
    ports:
      - "127.0.0.1:3036:3036"  # Vite dev server
    volumes:
      - ../../:/usr/src/app/:cached
      - sprockets-cache:/cache
      # https://stackoverflow.com/a/62611202/
      - bundle_cache:/usr/local/bundle/
    depends_on:
      - db
      - redis
      - mailcatcher
    labels:
      de.uni-heidelberg.mathi.mampf.container-type: worker

  nginx:
    image: openresty/openresty:alpine
    # Until https://github.com/nginx-proxy/docker-gen/pull/311 is merged, use hardcoded name
    container_name: mampf-docker-nginx
    ports:
      - "127.0.0.1:3000:80"
    volumes:
      - "nginx-conf-d:/etc/nginx/conf.d"
      # Submissions are served by nginx but are still authenticated by MaMpf. (accel_redirect)
      - "submissions:/private/submissions:ro,nocopy"
      - "public:/public"

  dockergen:
    build:
      context: ./../..
      dockerfile: docker/Dockerfile.dockergen
    command: -notify-sighup mampf-docker-nginx -watch /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    restart: always
    volumes:
      - "nginx-conf-d:/etc/nginx/conf.d"
      - "../nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl"
      - "/var/run/docker.sock:/tmp/docker.sock"

volumes:
  nginx-conf-d:
  submissions:
  public:
  db-data:
  pgadmin:
  sprockets-cache:
  bundle_cache:
