---
version: '3.2'
services:
  redis:
    image: "redis:alpine"

  solr:
    image: "solr:8"
    ports:
      - "127.0.0.1:8983:8983"
    volumes:
      - type: volume
        source: solr-data
        target: /var/solr
      - type: bind
        source: ../../solr/development/conf/
        target: /solrconfig/
        read_only: true
    command: ["solr-precreate", "development", "/solrconfig"]

  db:
    image: postgres
    environment:
      - POSTGRES_USER=mampf
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - type: volume
        source: db-data
        target: /var/lib/postgresql/data

  mailcatcher:
    restart: on-failure:10
    image: dockage/mailcatcher:latest
    ports:
      - "127.0.0.1:1080:1080"

  mampf:
    build:
      context: ./../..
      dockerfile: docker/development/Dockerfile
    image: mampf:development
    ports:
      - "127.0.0.1:3000:3000"
    entrypoint: ./entrypoint.sh
    environment:
      RAILS_ENV: docker_development
      DEVELOPMENT_DATABASE_ADAPTER: postgresql
      DEVELOPMENT_DATABASE_DATABASE: mampf
      DEVELOPMENT_DATABASE_INTERACTIONS: interactions
      DEVELOPMENT_DATABASE_USERNAME: mampf
      DEVELOPMENT_DATABASE_HOST: db
      DEVELOPMENT_DATABASE_PORT: 5432
      MAILSERVER: mailcatcher
      FROM_ADDRESS: development@localhost
      URL_HOST: localhost
      URL_HOST_SHORT: localhost
      SECRET_KEY_BASE: testenvironment
      ERDBEERE_SERVER: https://erdbeere.mathi.uni-heidelberg.de
      ERDBEERE_API: https://erdbeere.mathi.uni-heidelberg.de/api/v1
      MUESLI_SERVER: https://muesli.mathi.uni-heidelberg.de
      PROJECT_EMAIL: project@localhost
      INSTANCE_PATH: mampf
      REDIS_URL: redis://redis:6379/1
      SOLR_PATH: /solr/mampf-dev
      SPROCKETS_CACHE: /cache
      # uncomment DB_SQL_PRESEED_URL and UPLOADS_PRESEED_URL to enable db preseeding
      # DB_SQL_PRESEED_URL: "https://heibox.uni-heidelberg.de/d/6fb4a9d2e7f54d8b9931/files/?p=%2F20200907123000_mampf.sql&dl=1"
      # UPLOADS_PRESEED_URL: "https://heibox.uni-heidelberg.de/f/d2f72a4069814debaf69/?dl=1"
    volumes:
      - type: bind
        source: ../../
        target: /usr/src/app/
      - type: volume
        source: sprockets-cache
        target: /cache
    depends_on:
      - db
      - solr
      - redis
      - mailcatcher

volumes:
  db-data:
  solr-data:
  sprockets-cache:
