@import "~/styles/branding";

$breakpoint-back-btn: calc(#{$small-width} + 15em);

.admin-background {
    background: none;
}

#vignettes-wrapper {
    margin-bottom: 10em;
}

#vignette-edit-header {
    border: $mampf-blue 1.5px solid;
    border-radius: 0.5em;
    margin-top: 0.5em;

    @media(min-width: $breakpoint-back-btn) {
        margin-top: 2em;
    }

    padding: 1em;
    box-shadow: 0px 2px 7px 0rem mampf-blue(0.1);
}

h1,
h2 {
    color: $mampf-blue;
}

#vignettes-icon-selection {
    input {
        position: fixed;
        pointer-events: none;
        opacity: 0;

        &:checked+img {
            background: transparent;
            outline: black auto 1px;
        }
    }

    img {
        height: 70px;
        width: 100%;
        border-radius: 5px;
        padding: 7px;
        cursor: pointer;
        background: #f5f5f5;
        transition: background 180ms ease-in-out;

        &:hover {
            background: #f1f1f1;
            outline: lightgrey auto 0.5px;
        }
    }
}

#vignettes-back-btn {
    border: none;
    margin-top: 1em;

    @media(min-width: $breakpoint-back-btn) {
        position: absolute;
        margin-left: -6em;
    }
}