<div class="modal fade" id="cohortModal" tabindex="-1" aria-labelledby="cohortModalLabel" aria-hidden="true"
     data-controller="modal"
     data-modal-show-on-connect-value="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cohortModalLabel">
          <%= cohort.new_record? ? t('buttons.create_cohort') : t('buttons.edit_cohort') %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= render "cohorts/modal_form", cohort: cohort %>
    </div>
  </div>
</div>
