<div class="modal fade"
     id="watchlistModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="watchlistModalLabel" aria-hidden="true"
     data-keyboard="true">
  <div class="modal-dialog modal-sm"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="watchlistModalTitle">
          <%= t('watchlist.change') %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <div class="modal-body"
           id="watchlistModalBody">
        <%= render partial: 'watchlists/change_form' %>
      </div>
      <div class="modal-footer">
        <div class="container text-center">
          <button class="btn btn-primary"
                  id="confirmChangeWatchlistButton"
                  type="submit"
                  form="changeWatchlistForm"
                  disabled ><%= t('watchlist.save_change') %></button>
          <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal"><%= t('watchlist.close') %></button>
        </div>
      </div>
    </div>
  </div>
</div>
