<% console %>
<% if @watchlists.size > 1 %>
  <span class="dropdown ml-3">
    <button class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
            type="button">
      <%= @watchlist.name %>
    </button>
    <div class="dropdown-menu">
      <% (@watchlists - [@watchlist]).each do |w| %>
        <%= link_to w.name,
                    show_watchlist_path(params: { watchlist: w.id }),
                                        class: 'dropdown-item' %>
      <% end %>
    </div>
  </span>
<% else %>
  <button class="btn btn-secondary" disabled>
    <%= @watchlist.present? ? @watchlist.name : t('watchlist.empty') %>
  </button>
<% end %>
<div id="test123">
</div>
<% if @watchlist_entries.present? %>
  <div class="row" id="sortableWatchlistMedia">
    <% @watchlist_entries.each do |entry| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-2">
        <%= render partial: 'watchlist_entries/entry',
                  locals: { medium: entry.medium,
                            entry: entry,
                            tags: entry.medium.tags,
                            from: 'media',
                            ref_link: nil,
                            data: { id: entry.id },
                            lecture: entry.medium.lecture } %>
      </div>
    <% end %>
  </div>
<% end %>
