# Ignore generated JS routes
app/frontend/js/mampf_routes.js

**/*.env
# this is just a dummy file
!docker/production/docker.env

# Ignore bundler config.
/.bundle

/db/csv/*
/db/backups/*
!/backups/.gitkeep
/lib/tasks/setup.rake
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/public/tmp/*
/public/assets/*
/public/packs/*
!/public/assets/.keep

/node_modules
/yarn-error.log
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

coverage

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore shrine store
/public/uploads

# Ignore activeStorage uploads
/storage/*

# Ignore environment variables
/public/uploads.zip


/cypress/videos
/cypress/screenshots
# mac specific
.DS_Store

/public/packs
/public/packs-test
yarn-debug.log*
.yarn-integrity

# Vite Ruby
/public/vite*
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

/architecture/book/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
