$('#newAssignmentButton').hide();

$('#assignmentListHeader').show()
  .after('<%= j render partial: "assignments/form", locals: { assignment: @assignment } %>');

new TomSelect('#assignment_medium_id_', {
  sortField: {
    field: 'text',
    direction: 'asc'
  },
  dropdownParent: document.body,
  onInitialize:function(){
    this.popper = Popper.createPopper(this.control,this.dropdown, {
    placement: "bottom-start",
    modifiers: [
      {
        name: "sameWidth",
        enabled: true,
        fn: ({ state }) => {
          state.styles.popper.width = `${state.rects.reference.width}px`;
        },
        phase: "beforeWrite",
        requires: ["computeStyles"],
        }
      ]

  });
  },
  onDropdownOpen:function(){
    this.popper.update();
  },
  render: {
    no_results: function(data, escape) {
      return '<div class="no-results"><%= t("basics.no_results") %></div>';
    }
  }
});

$('#assignment_medium_id_').val(null).trigger('change');

$("#assignment_deadline_").datetimepicker({
  format: 'd.m.Y H:i',
  inline: false
});