<div class="card bg-light-blue-lighten-5 mb-3">
	<div class="card-header">
    <h5>
      Mitteilungen
      <span id="activeAnnouncementsCounter">
      (<%= current_user.active_announcements(lecture).count %>)
    	</span>
    </h5>
	</div>
	<div class="card-body">
		<div class="list-group" style="max-height: 10vh; overflow-y: scroll;">
  		<% lecture.announcements.order(:created_at).reverse.each do |a| %>
  			<% if a.active?(curent_user) %>
  				<a class="list-group-item list-group-item-action
  									list-group-item-info"
  					 href="<% notification_path(current_user.matching_notification(announcement)) %>"
  					 data-method="delete"
  					 data-remote="true"
  					 data-relatedNotification="<%= current_user.matching_notification(a)&.id %>">
	      		<div class="row">
  	      		<%= render partial: 'announcements/row_for_lecture',
    	        		       locals: { announcement: a } %>
      			</div>
    			</a>
    		<% else %>
    			<div class="list-group-item">
	      		<div class="row">
  	      		<%= render partial: 'announcements/row_for_lecture',
    	        		       locals: { announcement: a } %>
      			</div>
    			</div>
    		<% end %>
    	<% end %>
    </div>
  </div>
</div>