<div class="card bg-lime-lighten-4">
  <div class="card-header bg-lime-darken-3">
    <h5 class="text-light">
      Vorlesungsinhalt
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <% lecture.chapters.each do |c| %>
        <div class="col-6 my-2">
          <%= link_to c.to_label, chapter_path(c) %>
          <ul class="list-group">
            <% c.sections.each do |s| %>
              <li class="list-group-item bg-lime-lighten-3">
                <div class="row">
                  <div class="col-6">
                    <%= s.to_label %>
                  </div>
                  <div class="col-6">
                    <% s.lessons.each do |l| %>
                      <%= link_to  l.date.day.to_s + '.' + l.date.month.to_s +
                                   '.' + l.date.year.to_s, lesson_path(l),
                                  class: 'badge badge-light' %>
                    <% end %>
                  </div>
                  <div class="col-12">
                    <% s.tags.each do |t| %>
                      <%= link_to t.title, tag_path(t),
                                  class: "badge badge-info" %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end%>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
