<div class="card bg-mdb-color-lighten-6">
  <div class="card-header">
    <h5>
      Vorlesungsinhalt
    </h5>
  </div>
  <div class="card-body">
    <div class="card-columns">
      <% lecture.chapters.each do |c| %>
        <div class="card bg-mdb-color-lighten-5">
          <div class="card-header bg-mdb-color-lighten-2">
            <span class="text-light">
              <%= c.to_label %>
            </span>
          </div>
          <div class="card-body">
          <ul class="list-group list-group-flush">
            <% c.sections.each do |s| %>
              <li class="list-group-item bg-mdb-color-lighten-5">
                <div class="row">
                  <div class="col-6">
                    <span class="text-dark">
                      <strong>
                        <%= s.to_label %>
                      </strong>
                    </span>
                  </div>
                  <div class="col-6">
                    <% s.lessons.order(:date).each do |l| %>
                      <%= link_to  l.date.day.to_s + '.' + l.date.month.to_s +
                                   '.' + l.date.year.to_s, lesson_path(l),
                                  class: 'badge badge-secondary lecture-lesson',
                                  id: 'lecture-' + dom_id(l),
                                  data: { id: l.id, tags: l.tags.map(&:id) }  %>
                    <% end %>
                  </div>
                  <div class="col-12 mt-2">
                    <% s.tags.each do |t| %>
                      <%= link_to t.title, tag_path(t),
                                  id: 'lecture-' + dom_id(t),
                                  class: "badge badge-light lecture-tag",
                                  data: { id: t.id,
                                          lessons: t.lessons.map(&:id) } %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end%>
          </ul>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
