<div class="card bg-mdb-color-lighten-6">
  <div class="card-header">
    <h5>
      <%= lessons_description %>
    </h5>
  </div>
  <div class="card-body">
    <% if lessons.count < 15 %>
      <ul>
        <% lessons.each do |l| %>
          <li class="text-dark">
            <%= link_to l.title, l%>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="row">
        <% split_list(lessons,2).each do |lesson_list| %>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <ul class="text-dark">
              <% lesson_list.each do |l| %>
                <% unless l.nil? %>
                  <li>
                    <%= link_to l.to_label, lesson_path(l),
                                class: 'text-dark' %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
