<div class="card bg-mdb-color-lighten-6">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h5>
          Verknüpfte Sitzungen
        </h5>
      </div>
      <% unless inspection %>
        <div class="col-4">
          <span id="no-effect-warning-lessons" style="display: none; color: red;">
            Du musst zunächst die obigen Änderungen speichern oder verwerfen.
          </span>
        </div>
        <div class="col-4 text-right">
        </div>
      <% end %>
    </div>
    <div id="new-lesson-area" style="display: none;">
    </div>
  </div>
  <div class="card-body">
    <% if !lessons.present? %>
      Es sind noch keine Sitzungen vorhanden.
    <% elsif lessons.count < 15 %>
      <ul>
        <% lessons.each do |l| %>
          <li class="text-dark">
            <%= link_to l.to_label, edit_lesson_path(l),
                        class: 'text-dark'%>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="row">
        <% split_list(lessons,2).each do |lesson_list| %>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <ul class="text-dark">
              <% lesson_list.each do |l| %>
                <% unless l.nil? %>
                  <li>
                    <%= link_to l.to_label, edit_lesson_path(l),
                                class: 'text-dark' %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
