<div class="card bg-light">
  <div class="card-header">
    <h5>
      Vorlesungen
    </h5>
  </div>
  <div class="card-body">
    <ul>
      <% lectures.each do |l| %>
        <li>
          <% if current_user.lectures.include?(l) %>
            <%= link_to l.title, l.path(current_user),
                        class: 'text-dark' %>
          <% else %>
            <span>
              <%= l.title %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
