<% unless current_user.related_lectures.include?(@lecture) %>
<div class="row">
<div class="col-12">
<div class = "alert alert-danger">
Aufgrund Deiner Profileinstellungen sind verknüpfte Inhalte zu dieser Vorlesung für Dich nur eingeschränkt sichtbar.
</div>
</div>
</div>
<% end %>
