<div class="modal fade"
     id="newLectureModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="newLectureModalLabel" aria-hidden="true"
     data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="newLectureModalLabel">
          <%= t('admin.main.create_lecture') %>
        </h5>
      </div>
      <div class="modal-body"
           id="new-lecture-modal-content">
        <div id="new-lecture-area">
        </div>
      </div>
    </div>
  </div>
</div>
