<div class="row mt-3 p-2">
  <div class="col-10">
    <h4>
      Vorlesungsübersicht
    </h4>
  </div>
  <div class="col-2">
    <%= link_to 'Vorlesung anlegen', new_lecture_path,
                class: 'btn btn-secondary',
                remote: true,
                id: 'new-lecture-button' %>
  </div>
</div>
<div id="new-lecture-area" style="display: none;">
</div>
<div class="row p-2">
  <div class="col-8">
  </div>
  <div class="col-4 text-right">
    <%= paginate @lectures %>
  </div>
</div>
<div class="row bg-mdb-color-lighten-2 mx-2 px-4 py-3">
  <div class="col-2 text-light">
    <strong>
      Modul
    </strong>
  </div>
  <div class="col-1 text-light">
    <strong>
      Semester
    </strong>
  </div>
  <div class="col-3 text-light">
    <strong>
      DozentIn
    </strong>
  </div>
  <div class="col-3 text-light">
    <strong>
      EditorInnen
    </strong>
  </div>
  <div class="col-3 text-light">
    <strong>
      Aktionen
    </strong>
  </div>
</div>
<% @lectures.each do |l| %>
  <div class="row border-bottom mx-2 px-4" id="row-lecture-<%= l.id %>">
    <%= render partial: 'lectures/row', locals: { lecture: l }%>
  </div>
<% end %>
