<p>Kurs: <%= @lecture.course.title %></p>
<p>Jahr: <%= @lecture.term.year %></p>
<p>Semester: <%= @lecture.term.season %></p>
<p>Dozent: <%= link_to @lecture.teacher.name, teacher_path(@lecture.teacher) %></p>
