<h4>
  Mitteilungen
</h4>
<div class="row">
  <div class="col-6">
  </div>
  <div class="col-6 text-right">
    <%= paginate @announcements %>
  </div>
</div>
<% @announcements.each do |a| %>
  <div class="list-group-item
              <%= 'list-group-item-info' if a.active?(current_user) %>"
       data-listItemNotification="<%= current_user.matching_notification(a)&.id %>"
       data-index="true">
    <div class="row">
      <%= render partial: 'announcements/row_for_lecture',
                 locals: { announcement: a,
                           lecture:  @lecture }%>
    </div>
  </div>
<% end %>
<div class="my-3">
</div>
