<div class="text-left">
  <%= simple_format(t("mailer.data_provide_mail_body",
    email: @user.email,
    created_at: @user.created_at,
    updated_at: @user.updated_at,
    admin: @user.admin,
    subscription_type: @user.subscription_type,
    name: @user.name,
    homepage: (@user.homepage || '-'),
    no_notifications: @user.no_notifications,
    _locale: @user.locale,
    email_for_medium: @user.email_for_medium,
    email_for_announcement: @user.email_for_announcement,
    email_for_teachable: @user.email_for_teachable,
    email_for_news: @user.email_for_news,
    unread_comments: @user.unread_comments,
    study_participant: @user.study_participant,
    email_for_submission_upload: @user.email_for_submission_upload,
    email_for_submission_removal: @user.email_for_submission_removal,
    email_for_submission_join: @user.email_for_submission_join,
    email_for_submission_leave: @user.email_for_submission_leave,
    email_for_correction_upload: @user.email_for_submission_upload,
    email_for_submission_decision: @user.email_for_submission_decision,
    name_in_tutorials: @user.name_in_tutorials.present? ? @user.name_in_tutorials.present? : '-',
    archived: (@user.archived || '-'),
    image_data: (@user.image_data || '-'))) %>
</div>