<div class="modal-header">
  <i class="bi bi-info-circle-fill me-3"></i>
  <h1 class="modal-title fs-5"><%= info_slide.title %></h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
  </button>
</div>

<div class="modal-body">
    <%= info_slide.content %>
</div>
