<h3 class="lecture-pane-header">
  Vignettes
</h3>

<div class="d-flex justify-content-center mt-2 mb-2">
  <button type="button"
          class="btn btn-outline-primary"
          data-bs-toggle="modal"
          data-bs-target="#vignetteModal"
          data-bs-tooltip="tooltip">
    <i class="bi bi-plus-circle"></i>
    <%= t('vignettes.create_new') %>
  </button>
</div>

<% questionnaires = lecture.vignettes_questionnaires %>
<% if questionnaires.present? %>
<ul class="list-group"> 
  <% questionnaires.each do |questionnaire| %>
  <li class="list-group-item">
    <%= link_to questionnaire.title, edit_questionnaire_path(questionnaire) %>
  </li>
  <% end %>
</ul>
<% end %>
