<h1>Vignetten</h1>

<ul>
    <% @questionnaires.each do |questionnaire| %>
        <li>
            <%= questionnaire.title %>
        </li>
    <%end%>
</ul>
<%= button_to 'Create new Vignette', new_vignettes_questionnaire_path(), method: :get, class: 'btn btn-primary' %>