<h1>Vignetten</h1>

<ul>
    <% @questionnaires.each do |questionnaire| %>
        <li>
            <%= link_to questionnaire.title, take_questionnaire_path(questionnaire) %>
        </li>
    <%end%>
</ul>