<%= form_with local: true, scope: :questionnaire, model: @questionnaire do |form| %>
    <div>
        <%= form.label :title %> <br>
        <%= form.text_field :title %>
    </div>
    <br>
    <div>
        <%= form.submit 'Create Questionnaire', class: 'btn btn-primary'%>
    </div>
<%end%>
