<h1> Slides for vignette <%= @questionnaire.title %> </h1>
<ul>
    <% @questionnaire.slides.each do |slide| %>
    <li>
        <%= slide.id %>
    </li>
    <% end %>
</ul>
<%= button_to 'Edit vignette', edit_vignettes_questionnaire_path(@questionnaire), method: :get, class: 'btn btn-primary' %>