<div data-test="multi-item-preference">
  <%= turbo_frame_tag dom_id(campaign, :preferences_workspace) do %>
    <%= render partial: "user_registrations/pb/preferences_workspace",
               locals: { campaign: campaign,
                         item_preferences: item_preferences,
                         items: items } %>
  <% end %>
</div>
