<div class="jumbotron border border-danger exceptionBox">
	<div>
	 	<%= t('exception.user_text') %>
		<i class="fas fa-2x fa-bug"></i>
	 </div>
	 <div class="mt-2">
	 	 <%= t('exception.infos_wanted_html',
	 	 			 github: link_to(t('GitHub'),
                           'https://github.com/MaMpf-HD/mampf/issues',
                           target: :blank,
                           class: 'text-secondary'),
           mail: mail_to(DefaultSetting::PROJECT_EMAIL, nil, class: 'text-secondary')) %>
	 </div>
</div>


