<div class="jumbotron border border-danger exceptionBox error-jumbo text-danger">
	
	<div>
		<img src="/MaMpf-Logo-error.svg" />
	</div>
	<h3><b> <%= t('exception.title') %></b></h3>
	<div>
	 	<%= t('exception.user_text') %>
	 </div>
	 <div class="mt-2">
	 	 <%= t('exception.will_be_repaired') %>
	 </div>
</div>


