<div class="jumbotron border border-danger exceptionBox">
	<div>
	 	<%= t('exception.user_text') %>
		<i class="fas fa-2x fa-bug"></i>
	 </div>
	 <div class="mt-2">
	 	 <%= t('exception.will_be_repaired') %>
	 </div>
</div>


