<div class="<%= lecture.sort == "vignettes" ? "container-md small-width mt-4 mb-4" : "row mb-2" %>">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">
          <%= t('categories.organizational_html') %>
        </h4>
      </div>
      <div id="organizationalCardBody" class="card-body">
        <%= lecture.organizational_concept&.html_safe %>
      </div>
    </div>
  </div>
</div>
</div>
