<%= form_with url: url,
              scope: scope,
              method: method,
              data: { 
                turbo_frame: "#{context}-search-results",
                controller: "search-form"
              },
              html: { 
                role: "search" } do |f| %>
  <div class="<%= container_class %>">
    <% fields.each do |field| %>
      <%= render field.with_form(f) %>
    <% end %>
  </div>

  <% hidden_fields.each do |name, value| %>
    <%= f.hidden_field name, value: value %>
  <% end %>
<% end %>
