<div class="card border-top-0">
  <%= render "roster/components/groups_tab/workflow_info",
             total_participants: total_participants,
             component: component %>

  <% groups.each_with_index do |group, index| %>
    <%= render "roster/components/groups_tab/group_header",
               group: group,
               component: component,
               group_type: group_type %>

    <%= render "roster/components/groups_tab/group_table",
               group: group,
               component: component,
               group_type: group_type %>
  <% end %>
</div>
