/* line 2, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
.simple_form div.input {
  margin-bottom: 10px;
  clear: both;
  /* Required for Webkit, but not for Gecko */
}
/* line 7, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 15, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 19, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
div.boolean label {
  float: none;
  margin: 0;
}

/* line 24, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

/* line 32, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
.field_with_errors {
  background-color: #ff3333;
}

/* line 37, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}
/* line 43, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

/* line 53, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}
/* line 57, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

/* line 63, /home/denis/Rails/mampf/app/assets/stylesheets/forms.css.scss */
label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

