<div id="lecture-search-results">
  <%= render partial: "lectures/search/lecture", collection: @lectures %>
</div>

<div id="lecture-search-nav">
  <%= render partial: "lectures/search/nav", locals: { pagy: @pagy } %>
</div>

<div data-lecture-search-target="scrollObserver"></div>
