<div id="lecture-search-results">
  <%= render partial: "lectures/search/lecture", collection: @lectures %>
</div>

<%= render partial: "lectures/search/nav", locals: { pagy: @pagy } %>

<div data-lecture-search-target="scrollObserver"></div>
