<% if pagy.next %>
  <div id="pagy-nav-next" data-next-page="<%= pagy.next %>">
    <p class="text-center mt-3 mb-0 text-muted">
      <%= t('lecture.search.scroll_for_more_results') %>
    </p>
  </div>
<% end %>
