<div class="row mt-3 p-2">
  <div class="col-12">
    <h4>
      <%= t('admin.teachables.courses') %>
    </h4>
  </div>
</div>
<div id="courseSearchArea">
  <%= render partial: 'courses/search/form' %>
  <div id="course-search-results">
  </div>
</div>