<div id="index-area">
  <div id="index-actions">
    <div class="index-header bg-mdb-color-darken-2 text-light">
      Aktionen
    </div>
  </div>
  <div id="index-lectures">
    <div class="index-header bg-mdb-color text-light">
      Vorlesungen
    </div>
  </div>
  <div id="index-profile">
    <div class="index-header bg-orange-darken-2 text-light">
      Profil
    </div>
  </div>
  <div id="index-recent-media">
    <div class="index-header bg-teal-darken-2 text-light">
      Kürzlich bearbeitete Medien
    </div>
  </div>
  <div id="index-recent-lessons">
    <div class="index-header bg-teal text-light">
      Kürzlich bearbeitete Sitzungen
    </div>
  </div>
  <div id="index-recent-tags">
    <div class="index-header bg-teal-lighten-1 text-light">
      Kürzlich bearbeitete Tags
    </div>
  </div>
  <div id="index-whatever">
    <div class="index-header bg-teal-lighten-2 text-light">
      Whatever
    </div>
  </div>
</div>
