<div class="row mt-3 p-2">
  <div class="col-12">
    <h4>
      <%= t('admin.teachables.teachables') %>
    </h4>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 col-xxxl-7 mt-2">
    <%#= render partial: 'administration/index/other_lectures',
               locals:
                  { other_lectures: current_user.teaching_unrelated_lectures } %>
  </div>
  <div class="col-12 col-xxxl-5 mt-2 mb-2">
    <%#= render partial: 'administration/index/other_courses',
               locals: { other_courses: current_user.unrelated_courses } %>
  </div>
</div>
<%= render partial: 'main/start/lecture_search',
           locals: { results_as_list: true } %>
<div id="lecture-search-results">
</div>