<%= vite_stylesheet_tag "feedbacks/navbar/_button.scss" %>

<button
  id="feedback-btn"
  type="button"
  class="btn ms-1 me-1"
  data-bs-target="#submit-feedback"
  data-bs-toggle="modal"
  title="<%= t('feedback.tooltip') %>"
>
  <i class="bi bi-star-fill"></i>
</button>
