<% medium = notification.notifiable %>
<% if medium.present? %>
  <div class="text-right" style="font-size: 0.75em;">
    <%= human_readable_date(notification.created_at) %>
  </div>
  Neues Medium in
  <%= medium.teachable.media_scope.title_for_viewers %>
  <br>
  <%= medium.local_title_for_viewers %>
<% else %>
   Neues Medium:
   <br>
   Inzwischen wieder gelöscht.
<% end %>