<% if type == 'MampfNumber' %>
  <%= render partial: 'questions/domains/number',
             locals: { f: f,
                       content: content,
                       counter: '[0]' } %>
<% elsif type == 'MampfMatrix' %>
  <%= render partial: 'questions/domains/matrix',
             locals: { f: f,
                       content: content } %>
<% end %>
<div class="invalid-feedback" id="solution-error">
</div>
