<div class="list-group">
  <div class="list-group-item list-group-item-secondary">
    <div class="row">
      <div class="col-12">
        <%= t('admin.main.title') %>
      </div>
    </div>
  </div>
  <% courses.each do |c| %>
    <a href="<%= edit_course_path(c) %>"
       class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-12">
          <%= c.title %>
        </div>
      </div>
    </a>
  <% end %>
</div>
