<div class="container">
  <div class="blockquote text-start">
    <p>
      <%= sanitize(@announcement.details) %>
    </p>
    <footer class="mt-2">
      &mdash; <%= @announcement.announcer.name %> <cite><%= @announcement_details %></cite>
    </footer>
  </div>
</div>
