<div class="container">
  <div class="blockquote text-left">
    <p>
      <%= @announcement.details.html_safe %>
    </p>
    <footer class="mt-2">
      &mdash; <%= "#{@announcement.announcer.name}" %> <cite><%= "#{@announcement_details}" %></cite>
    </footer>
  </div>
</div>
