<%= "#{t('mailer.new_announcement')} #{@announcement_details}:" %>
<p>
  <%= "#{t('mailer.author')}: #{@announcement.announcer.name}" %>
  <br>
  <%= "#{t('mailer.text')}: " %>
  <%= @announcement.details.html_safe %>
</p>