<%= t('mailer.new_lecture', title: @lecture.title_with_teacher) %>
<br>
<%= t('mailer.subscribe_lecture_html',
      profile: t('notifications.profile')) %>
<p class="pt-2">
  <%= link_to(t('notifications.goto_profile'),
              edit_profile_url,
              class: 'btn btn-primary') %>
</p>
