<%= t('mailer.new_course', title: @lecture.title_with_teacher) %>
<br>
<%= t('mailer.subscribe_course_html',
      profile: t('notifications.profile')) %>
<p class="pt-2">
  <%= link_to(t('notifications.goto',
                profile: t('notifications.profile')),
              edit_profile_url,
              :class => "btn btn-primary") %>
</p>
