<%= t('mailer.new_course', title: @course.title) %>
<br>
<%= t('mailer.subscribe_course',
      profile: t('notifications.profile')) %>
<p class="pt-2">
  <%= link_to(t('notifications.goto_profile'),
              edit_profile_url,
              class: 'btn btn-primary') %>
</p>
