<a class="list-group-item list-group-item-action"
   href="<%= open_notification_path_for(notification, move: true) %>"
   data-remote="true" data-method="post">
  <div class="row">
    <div class="col-2">
      <%= human_readable_date(notification.created_at) %>
    </div>
    <div class="col-10">
      <% medium = notification.notifiable %>
      <% if medium.present? %>
        Neues Medium in
        <%= medium.teachable.media_scope.title_for_viewers %>:
        <%= medium.local_title_for_viewers %>
      <% else %>
        Neues Medium: Inzwischen wieder gelöscht.
      <% end %>
    </div>
  </div>
</a>