<div class="row">
	<div class="col-12 smaller-font">
		<%= human_readable_date(notification.created_at) %>
	</div>
	<div class="col-12">
		<%= notification_menu_item_header(notification) %>
	</div>
	<div class="col-12">
		<%= notification_menu_item_details(notification) %>
	</div>
</div>
