<div class="col-2">
  <%= human_readable_date(notification.created_at) %>
</div>
<div class="col-5">
  <%= notification_text(notification) %>
</div>
<div class="col-4">
  <%= notification_link(notification) %>
</div>
<div class="col-1 text-right">
  <a href="<%= notification_path(notification) %>"
     data-method="delete"
     data-remote="true"
     class="no-deco mr-2">
    <i class="material-icons text-dark"
       data-toggle="tooltip"
       data-placement="bottom"
       title="erledigen">
      delete
    </i>
  </a>
</div>