<%= turbo_frame_tag "preferences_workspace" do %>
  <div class="row g-3">
    <input type="hidden"
         name="preferences_json"
         id="preferences-json"
         value="<%= item_preferences.to_json %>">

        <!-- Left column: preferences -->
        <div class="col-12 col-xl-6">
          <%= render partial: "registration/main/pb/preferences_table",
                       locals: { campaign: campaign, item_preferences: item_preferences } %>
        </div>

        <!-- Right column: catalog -->
        <div class="col-12 col-xl-6">
          <%= render partial: "registration/main/pb/options_table",
                       locals: { campaign: campaign, item_preferences: item_preferences, items: items } %>
        </div>

      </div>
<% end %>
