@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.landing-box {
    background-color: white;
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.13);

    @include media-breakpoint-down(sm) {
        border-radius: 0;
    }
}

#signin-box {
    padding: 70px 40px;
    backdrop-filter: blur(30px) saturate(170%);
    background-color: #13233444;
    border: 1px solid rgba(255 255 255 / 0.14);
    color: white;

    & a {
        color: white;
    }
}

#login-btn {
    // background-color: #231D41;
    border: 1.5px solid white;
    font-weight: bold;
    width: 100%;
}


#announcement-box {
    z-index: 1;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.96);
}

#language-switch {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #223E62C6;
    border-radius: 0 8px;
    box-shadow: inset 1px 4px 5px rgba(0, 0, 0, 0.03);

    a {
        color: white;
        font-size: medium;
    }

    @include media-breakpoint-down(sm) {
        border-radius: 0;
    }
}

footer {
    z-index: 1;
}

#footer-bar {
    background-color: rgba(255, 255, 255, 0.95);
}

.ul-no-indentation {
    padding-left: 1.1rem;
}

#mampf-logo {
    width: 100px;
}

#login-form {
    margin-top: 20px;
}

#logo-area {
    color: inherit;
    text-decoration: none;
}

#github-corner-svg {
    filter: drop-shadow(1px 4px 7px rgba(0, 0, 0, 0.13));

    @include media-breakpoint-down(sm) {
        opacity: 0.4;
    }
}

#p5-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #0a0a1e;
}
