#new_vertex {
  display: none;
}

#selectRootInfo {
  display: none;
}

#quizLevelForm {
  display: none;
}

#selectTargetInfo {
  display: none;
}

#saveDefaultTarget {
  display: none;
}

#deleteEdgeButtons {
  display: none;
}