<div id="TextQuestion_field" class="question-type-field">
    <%= form.label :question_text, "Question Text" %><br>
    <%= form.text_area :question_text, placeholder: "Enter your question here" %>
</div>