<div class="container">
  <div class="blockquote text-start">
    <h3>
      <%= t('mailer.deletion_subject') %>
    </h3>
    <p>
      <%= t('mailer.deletion_body_html') %>
    </p>
  </div>
</div>
