<div class="col-12 text-center">
  <%= link_to t('buttons.create_announcement'),
              new_announcement_path(params: { lecture: lecture.id }),
              class: 'btn btn-sm btn-secondary',
              id: 'new-announcement-button',
              remote: true %>
</div>

<% announcements.each do |a| %>
  <div class="row border-bottom mx-2 px-4 py-2"
        id="row-announcement-<%= a.id %>">
    <%= render partial: 'announcements/row_for_lecture_edit',
                locals: { announcement: a }%>
  </div>
<% end %>
