<hr class="lecture-pane-separator">
<h3 class="lecture-pane-header">
    <%= t('categories.erdbeere.plural') %>
</h3>


<div id="erdbeereStructuresBody"
    data-lecture="<%= lecture.id %>"
    data-loading="<%= t('basics.loading_data') %>">
</div>
