<div class="col-12 text-center" id="forum-buttons">
  <% if lecture.forum? && lecture.forum %>
    <% if lecture.forum&.locked %>
      <%= link_to t('buttons.unlock_board'),
                  unlock_forum_path(lecture),
                  class: 'btn btn-sm btn-primary' %>
    <% else %>
      <%= link_to t('buttons.lock_board'),
                  lock_forum_path(lecture),
                  class: 'btn btn-sm btn-primary' %>
    <% end %>
    <%= link_to t('buttons.delete_board'),
                destroy_forum_path(lecture),
                class: 'btn btn-sm btn-danger' %>
  <% else %>
    <%= link_to t('buttons.add_board'),
                add_forum_path(lecture),
                class: 'btn btn-sm btn-primary' %>
  <% end %>
</div>
