<div class="card bg-mdb-color-lighten-5 %>">
  <div id="<%= dom_id(talk) %>"
       class="card-header bg-mdb-color-lighten-2">
    <div class="row">
      <div class="col-12">
        <%= link_to talk.to_label,
                    edit_talk_path(talk),
                    class: 'text-light' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    Bla.
  </div>
</div>