<hr class="lecture-pane-separator">
<h3 class="lecture-pane-header">
  <%= t('basics.vouchers') %>
</h3>

<p>
  <%= t('admin.voucher.general_explanation') %>
</p>

<% if current_user.can_update_personell?(lecture) %>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% Voucher.roles_for_lecture(lecture).each do |role| %>
    <div class="col">
      <div class="card voucher-card" id='<%= "#{role}"%>-voucher'>
        <%= render partial: 'vouchers/voucher' , locals: { lecture: lecture, role: role } %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
