<hr class="lecture-pane-separator">
<h3 class="lecture-pane-header">
  <%= t('basics.vouchers') %>
</h3>

<% if current_user.can_update_personell?(lecture) %>
  <% Voucher::SORT_HASH.keys.each do |sort| %>
    <h4 class="lecture-pane-subheader">
      <%= t("basics.voucher_for",
             sort: t("basics.#{sort}s")) %>
    </h4>  
  <div id='<%= "#{sort}"%>-voucher'>
    <%= render partial: 'vouchers/voucher',
                locals: { lecture: lecture,
                          sort: sort } %>
  </div>
  <% end %>
<% end %>