<hr class="lecture-pane-separator">
<h3 class="lecture-pane-header">
  <%= t('basics.vouchers') %>
</h3>

<% if current_user.can_update_personell?(lecture) %>
  <% Voucher.roles_for_lecture(lecture).each do |role| %>
    <h4 class="lecture-pane-subheader">
      <%= t("basics.voucher_for",
             role: t("basics.#{role}s")) %>
    </h4>
  <div id='<%= "#{role}"%>-voucher'>
    <%= render partial: 'vouchers/voucher',
                locals: { lecture: lecture,
                          role: role } %>
  </div>
  <% end %>
<% end %>