<div class="card">
  <div class="card-header">
    <h5>
      Admins, EditorInnen und  DozentInnen mit Nutzeraccount
      (<%= elevated_users.count %>)
    </h5>
  </div>
  <div class="card-body">
    <div class="row bg-light py-3">
      <div class="col-3">
        <strong>
          Name
        </strong>
      </div>
      <div class="col-3">
        <strong>
          Rolle
        </strong>
      </div>
      <div class="col-2">
        <strong>
          Editierte Kurse
        </strong>
      </div>
      <div class="col-4">
        <strong>
          Aktionen
        </strong>
      </div>
    </div>
    <% elevated_users.each do |u| %>
      <div class="row border-bottom" id="row-user-<%= u.id %>">
        <%= render partial: 'users/row', locals: { user: u }%>
      </div>
    <% end %>
  </div>
</div>
