<div class="row mt-3 p-2">
  <div class="col-12">
    <h4>
      Nutzerverwaltung
    </h4>
  </div>
</div>
<div class="row px-2">
  <div class="col-8">
    <%= render partial: 'users/elevated_users_card',
               locals: { elevated_users: @elevated_users } %>
  </div>
  <div class="col-4">
    <div id="generic_user_card">
      <%= render partial: 'users/generic_users_card',
                 locals: { generic_users: @generic_users } %>
    </div>
  </div>
</div>
