<div class="row mt-3 p-2">
  <div class="col-12">
    <h4>
      <%= t('admin.user.administration') %>
    </h4>
  </div>
</div>
<div class="row px-2">
  <%= render partial: 'users/search_form' %>
  <div class="col-12" id="user-search-results"></div>
  <div class="col-12">
    <%= render partial: 'users/elevated_users',
               locals: { elevated_users: @elevated_users,
                         generic_users_count: @generic_users.count } %>
  </div>
</div>
<%= render partial: 'users/modal',
           locals: { generic_users: @generic_users } %>
