<div class="row mt-3 p-2">
  <div class="col-12">
    <h4>
      Nutzerverwaltung
    </h4>
  </div>
</div>
<div class="row px-2">
  <div class="col-12">
    <%= render partial: 'users/elevated_users',
               locals: { elevated_users: @elevated_users,
                         generic_users_count: @generic_users_count } %>
  </div>
</div>
<%= render partial: 'users/modal' %>
