<%= t('mailer.new_editor', title: @lecture.title_with_teacher, username: @username) %>
<br>
<p class="pt-2">
  <%= link_to(t('notifications.edit_lecture'),
              edit_lecture_url(@lecture),
              class: 'btn btn-primary') %>
</p>
