<div
  class="
    row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4
    row-cols-xxl-5
    student-registration-tile-grid m-0
  "
>
  <% self_rosterables.rosterables.each do |rosterable| %>
    <% metadata_rows = rosterable_tile_metadata_rows(rosterable) + [{
         value: "#{rosterable.roster_entries_count} / #{nullable_capacity_display(rosterable.capacity)}"
       }] %>

    <% path_self_add = send(
         "self_add_#{rosterable.class.name.underscore}_path",
         rosterable.id
       ) %>

    <% path_self_remove = send(
         "self_remove_#{rosterable.class.name.underscore}_path",
         rosterable.id
       ) %>

    <%= render partial: "registration/main/group_tile",
               locals: {
                 tile_title: rosterable.title,
                 tile_type: rosterable_display_type(rosterable),
                 tile_metadata_rows: metadata_rows,
                 tile_variant_class: "tutorial-gtile--self-enrollment",
                 tile_top_bar_class: "tutorial-gtile-top-bar--self-enrollment",
                 tile_status_content: capture do
                   if !rosterable.user_allocated?(current_user)
                     if rosterable.allow_self_add?(current_user)
                       concat(content_tag(
                         :span,
                         t("basics.available"),
                         class: "badge bg-light-blue-lighten-4 text-dark fw-medium small"
                       ))
                     end
                   else
                     concat(content_tag(
                       :span,
                       t("registration.user_registration.registered"),
                       class: "badge text-bg-success fw-medium small"
                     ))
                   end
                 end,
                 tile_footer_content: content_tag(
                   :span,
                   t("roster.self_materialization.modes.#{rosterable.self_materialization_mode}")
                 ),
                 tile_actions_content: capture do
                   if rosterable.user_allocated?(current_user)
                     if rosterable.allow_self_remove?(current_user)
                       concat(button_to(
                         t("registration.user_registration.withdraw"),
                         path_self_remove,
                         method: :delete,
                         class: "btn btn-outline-danger btn-sm"
                       ))
                     end
                   elsif rosterable.allow_self_add?(current_user)
                     concat(button_to(
                       t("registration.user_registration.register_now"),
                       path_self_add,
                       method: :post,
                       class: "btn btn-primary btn-sm"
                     ))
                   end
                 end
               } %>
  <% end %>
</div>
