<%#
  Views that use this partial must provide the following variable:
  comment
%>

<%= commontator_simple_format comment.body %>

<!--- Show timestamps in comments that have a linked annotation --->
<% annotation = comment.annotation %>
<% unless annotation.nil? %>
  <% medium = annotation.medium %>
  <% timestamp = annotation.timestamp %>
  <br>
  Timestamp:
  <a href= '<%= Rails.application.routes.url_helpers.play_medium_path(medium) %>?time=<%= timestamp.total_seconds %>'>
  <%= timestamp.hms_colon_string %> </a>
<% end %>
