<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vorlesung</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">LA1 WS16/17</a>
    <a class="dropdown-item" href="#">LA2 SS17</a>
    <a class="dropdown-item" href="#">Alg1 WS16/17</a>
  </div>
</li>
