<% current_lecture = Lecture.find_by_id(cookies[:current_lecture]) %>
<li class="nav-item">
<div class="btn-group">
  <%= link_to current_lecture.short_title, current_lecture, class: 'btn btn-primary text-light' %>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <% lectures.each do |l| %>
    <% unless l == current_lecture %>
    <%= link_to l.short_title, l, class: 'dropdown-item' %>
    <% end %>
    <% end %>
  </div>
</div>
</li>
