<div class="row">
  <div class="col-12 text-center">
    <button id="submit-import-media"
      type="button"
      class="btn btn-sm btn-primary"
      data-purpose="<%= purpose %>">
      <%= t('buttons.import') %>
    </button>
    <button id="cancel-import-media"
      type="button"
      class="btn btn-sm btn-secondary ms-2"
      data-purpose="<%= purpose %>">
      <%= t('buttons.reset') %>
    </button>
  </div>
</div>
