<nav class="col-sm-3 col-md-2 d-block bg-light">
  <ul class="nav nav-pills flex-column">
    <% modules = ['KaViaR', 'SeSAM', 'KeKs', 'RestE'] %>
    <!-- <% item_class = Array.new(4, '') %>
    <% if params[:module_id] %>
      <% item_class[params[:module_id].to_i - 1] = ' active' %>
    <% end %> -->
    <% modules.each do |m| %>
          <li class="nav-item">
            <% active = params[:module_id].to_i == modules.index(m)+1 ? ' active' : '' %>
            <%= link_to m, lecture_module_path(lecture_id: lecture_id, module_id: modules.index(m)+1), class: 'nav-link' + active %>
          </li>
    <% end %>
    <li class="nav-item">
      <a href="https://erdbeere.mathi.uni-heidelberg.de/" class="nav-link">
        <img src="/erdbeere-16x16.png" width="16" height="16">
        ErDBeere
      </a>
    </li>
    <li class="nav-item">
      <a href="https://muesli.mathi.uni-heidelberg.de/" class="nav-link">
        <img src="/muesli-16x16.png" width="16" height="16">
        MÜSLI
      </a>
    </li>
  </ul>
</nav>
