<nav class="col-sm-3 col-md-2 d-block bg-light">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#">KaViaR <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="pill">SeSAM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="pill">ErDBeere</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="pill">KeKs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="pill" role="pill">MÜSLI</a>
    </li>
  </ul>
</nav>
