<% (1..clicker.alternatives).each do |i| %>
  <div class="row my-2">
    <div class="col-1 text-center"
         style="font-size: 2em;">
      <%= %w(A B C D E F)[i-1] %>
    </div>
    <div class="col-11">
      <div class="progress"
           style="height: 2em; font-size: 2em;">
        <div class="progress-bar"
             style="width: <%= clicker.results[i - 1] %>%; color: black;">
          <%= clicker.results[i - 1] %> %
        </div>
      </div>
    </div>
  </div>
<% end %>