services:
  cypress:
    build:
      context: ./../../
      dockerfile: docker/cypress/Dockerfile
    entrypoint: ["/workspaces/mampf/run-cypress-cicd.sh"]
    environment:
      CYPRESS_baseUrl: http://app-test:3145
    volumes:
      - ../../.config/.cypress.js:/mampf-tests/cypress.config.js:ro
      - ../../spec/cypress/e2e/:/mampf-tests/cypress/e2e/:ro
      - ../../spec/cypress/support/:/mampf-tests/cypress/support/:ro
      - ../../spec/cypress/fixtures/:/mampf-tests/cypress/fixtures/:ro
      # Cypress video/screenshot output (only necessary locally)
      - ../../cypress/videos/:/mampf-tests/cypress/videos/
      - ../../cypress/screenshots/:/mampf-tests/cypress/screenshots/
    depends_on:
      - app-test
