@media only screen and (max-width:1439px) {
    .sidetoc {
        display: none;
    }
}

@media only screen and (min-width:1440px) {
    main {
        position: relative;
        margin-left: 0; /* Revert margin change */
    }
    .sidetoc {
        position: absolute;
        left: 100%; /* Position to the right of the content */
        margin-left: 30px; /* Add space between content and pagetoc */
        width: auto; /* Let it size automatically */
    }
    .pagetoc {
        position: fixed;
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
        overflow: auto;
    }
    .pagetoc ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    .pagetoc a {
        display: block;
        padding: 0.2em 0;
        text-decoration: none;
    }    
    .pagetoc {
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
        overflow: auto;
    }
    .pagetoc a:hover,
    .pagetoc a.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg) !important;
    }
    .pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
    .pagetoc .pagetoc-H2 {
        padding-left: 20px;
    }
    .pagetoc .pagetoc-H3 {
        padding-left: 40px;
    }
    .pagetoc .pagetoc-H4 {
        padding-left: 60px;
    }
    .pagetoc .pagetoc-H5 {
        display: none;
    }
    .pagetoc .pagetoc-H6 {
        display: none;
    }
}
