<div class="modal fade" id="editTutorialModal" tabindex="-1" aria-labelledby="editTutorialModalLabel" aria-hidden="true"
     data-controller="modal"
     data-modal-show-on-connect-value="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTutorialModalLabel"><%= t('buttons.edit_tutorial') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= render "tutorials/edit_form", tutorial: tutorial %>
    </div>
  </div>
</div>
