<ul class="list-group mt-3">
  <li class="list-group-item bg-light">
    <div class="row">
      <b class="col-3">
        Team
      </b>
      <b class="col-3">
        Abgabe
      </b>
      <b class="col-3">
        Korrektur
      </b>
      <b class="col-3">
        Aktionen
      </b>
    </div>
  </li>
  <%= render partial: 'tutorials/submission_row',
             collection: stack,
             as: :submission,
             cached: true %>
</ul>