<select class="form-select form-select-sm" onchange="window.location=this.value">

  <!-- Current tutorial -->
  <option selected><%= @tutorial.title %></option>

  <% tutorials_for_dropdown(current_user, @lecture, @tutorial).each do |label, list| %>
    <% list.each do |t| %>
      <option value="<%= lecture_tutorials_path(
                        @lecture,
                        params: { assignment: @assignment.id, tutorial: t.id }
                      ) %>">
        <%= t.title %>
      </option>
    <% end %>
  <% end %>

</select>
