<% if @assignments.present? %>
<div data-controller="submission-table">
  <div class="row">
    <div class="col-12">
      <%= render partial: 'tutorials/header_index',
               locals: { assignment: @assignment,
                         tutorial: @tutorial,
                         stack: @stack } %>
    </div>
  </div>
  <div id="tutorial-table" class="m-3">
    <%= render TutorialGradingTableComponent.new(
      assignment: @assignment,
      stack: @stack,
      tutorial: @tutorial,
      non_submitters: @non_submitters
    ) %>
  </div>
</div>
<% else %>
  <div class="jumbotron">
    <%= t('assignment.nothing_yet_in_lecture') %>
  </div>
<% end %>
<%= render partial: 'shared/generic_modal',
           locals: { sort: 'validateCertificate',
                     title: t('tutorial.certificate_check') } %>
