<div class="card bg-light mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-12">
        <h5>
          Abschnitte (<%= sections.count %>)
          <i class="far fa-question-circle helpdesk"
             tabindex="-1"
             data-toggle="popover" data-trigger="focus"
             title="Info"
             data-content="Dies ist die Liste aller assoziierten Abschnitte.">
          </i>
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body p-2">
    <ul>
      <% sections.each do |s| %>
        <li>
          <% if !inspection && (current_user.admin ||
                current_user.in?(s.lecture.editors_with_inheritance)) %>
            <%= link_to s.lecture.title,
                        edit_lecture_path(s.lecture),
                        class: lectures_color(s.lecture) %>
          <% else %>
            <%= link_to s.lecture.title,
                        inspect_lecture_path(s.lecture),
                        class: lectures_color(s.lecture) %>
          <% end %>
          :
          <%= s.to_label %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
