<div class="modal fade"
     id="sectionContentModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="sectionContentModalLabel" aria-hidden="true"
     data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sectionContentModalLabel">
          <%= t('admin.section.content') %>
          <span id="section-title-modal">
          </span>
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
        </button>
      </div>
      <div class="modal-body" id="section-content-modal-content">
      </div>
    </div>
  </div>
</div>