<div class="modal fade" id="displayNumberModal" tabindex="-1" role="dialog"
     aria-labelledby="displayNumberModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="displayNumberModalLabel">
          Informationen zur Anzeigenummer
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        Wird eine Anzeigenummer angegeben, so überschreibt diese die berechnete
        Nummer. Das macht z.B. Sinn, wenn man statt
        "§3.2. Mein Abschnitt" lieber "Anhang A. Mein Abschnitt" als Titel haben möchte.
      </div>
    </div>
  </div>
</div>
