<div class="modal fade"
     id="sectionModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="sectionModalLabel" aria-hidden="true"
     data-backdrop="static">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sectionModalLabel">
          <%= t('buttons.create_section') %>
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
        </button>
      </div>
      <div class="modal-body" id="section-modal-content">
      </div>
    </div>
  </div>
</div>