<div class="card-body">
  <h2 class="h5">Your Registration</h2>
  
  <%= render partial: 'registration/student/select_single_item',
              locals: {campaign: campaign,
                      campaignable_host: campaignable_host,
                      item: items[0] } %>
</div>