<div id="vignette-info-slide-modal-<%= index %>"
    class="modal fade vignette-info-slide-modal"
    tabindex="-1" role="dialog"
    data-info-slide-id="<%= info_slide.id %>"
    aria-labelledby="Submit feedback" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-4">
            <%= render partial: 'vignettes/info_slides/take_modal_content',
                                locals: { info_slide: info_slide } %>
        </div>
    </div>
</div>
