<% lecture = Lecture.includes(:course).find_by_id(params[:lecture_id]) %>
<% lecture = nil unless lecture&.id.in?(current_user.lecture_ids) %>
<% lecture ||= current_lecture %>
<div class="row p-2">
  <div class="col-12">
    <% if lecture.present? %>
      <%= link_to search_examples_path(lecture),
                  class: ' btn btn-lg btn-outline-secondary' do %>
        <span>
          <i class="fa fa-search">
          </i>
        </span>
        <span>
          <%= t('erdbeere.search_examples') %>
        </span>
      <% end %>
      <%= link_to t('erdbeere.structure_index'),
                  show_structures_path(lecture),
                  class: 'btn btn-lg btn-outline-secondary ms-2' %>
    <% end %>
  </div>
</div>
