<div>
  <%= render partial: 'registration/main/fcfs/select_multi_item',
              locals: {campaign: campaign,
                      campaignable_host: campaignable_host,
                      results: results,
                      items: items } %>
</div>
