<div class="card-body border-top-0">
  <%= render partial: 'registration/main/fcfs/select_multi_item',
              locals: {campaign: campaign,
                      campaignable_host: campaignable_host,
                      items: items } %>
</div>
