<div class="card bg-light"
     id="commentsCard">
  <div class="card-header bg-generic-card-header">
    <h5>
      <%= t('basics.comments') %>
    </h5>
  </div>
  <div class="card-body"
       style="max-height: 30vh; overflow-y: scroll;">
    <%= commontator_thread(medium) %>
  </div>
</div>