production:
  solr:
    hostname: solr
    port: 8983
    log_level: WARNING
    path: <%= ENV['SOLR_PATH'] %>
    # read_timeout: 2
    # open_timeout: 0.5

development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    path: /solr/development

test:
  solr:
    hostname: localhost
    port: 8981
    log_level: WARNING
    path: /solr/test

