<div class="campaign-list d-flex flex-column gap-4">
  <% if @campaigns.any? %>
    <% @campaigns.each do |campaign_details| %>
      <div>
        <%= turbo_frame_tag dom_id(campaign_details.campaign, :main_student_registration_campaign) do %>
          <%= render partial: 'registration/main/campaign_card',
                  locals: {
                    details: campaign_details,
                    campaign: campaign_details.campaign
                  } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No available campaigns.</p>
  <% end %>
</div>
