<div class="card-body">
  <h2 class="h5"><%= t('registration.title') %></h2>
  
  <%= render partial: 'registration/main/select_single_item',
              locals: {campaign: campaign,
                      campaignable_host: campaignable_host,
                      item: items[0] } %>
</div>