<div class="container my-4">
  <%= render partial: "registration/main/main_campaign", 
              locals: { campaign: @campaign,
                        campaignable_host: @campaignable_host,
                        eligibility: @eligibility,
                        items: @items,
                        item_preferences: @item_preferences } %>
</div>
