<div class="row p-2">
  <div class="col-6">
    <div class="card bg-light mb-4" id="tag-basics-edit">
      <%= render partial: 'tags/basics', locals: { tag: tag, f: f } %>
    </div>
  </div>
  <div class="col-6">
    <%= render partial: 'media/card',
               locals: { media: tag.media } %>
  </div>
</div>
