<div class="card bg-info">
  <div class="card-header bg-primary"><h5><%= tags_description %></h5></div>
  <div class="card-body">
  <ul>
    <% related_tags.each do |t| %>
    <li class="text-light"><%= link_to t.title, tag_path(t), class: "text-light" %></li>
    <% end %>
  </ul>
</div>
</div>
