<div class="card bg-green-lighten-4">
  <div class="card-header bg-green-darken-3">
    <h5 class="text-light">
      <%= tags_description %>
    </h5>
  </div>
  <div class="card-body" id="relatedTagsBody">
    <% if related_tags.present? %>
      <% related_tags.natural_sort_by(&:title).each do |t| %>
        <%= link_to t.short_title, tag_path(t), class: "badge badge-light",
                    data: { toggle: 'tooltip', placement: 'top'},
                    title: t.title %>
        <br>
      <% end %>
    <% else %>
      Es liegen keine verknüpften Tags vor.
    <% end %>
  </div>
</div>
