<div class="card bg-light">
  <div class="card-header bg-generic-card-header">
    <h5>
      <%= tags_description %>
    </h5>
  </div>
  <div class="card-body"
       id="relatedTagsBody"
       style="max-height: <%= small ? '20vh' : '50vh' %>">
    <% if related_tags.any? %>
      <% related_tags.natural_sort_by(&:title).each do |t| %>
        <%= link_to t.short_title,
                    tag_path(t),
                    class: "badge badge-light",
                    data: { toggle: 'tooltip',
                            placement: 'top'},
                    title: t.title %>
        <% unless small %>
          <br>
        <% end %>
      <% end %>
    <% else %>
      Es liegen keine verknüpften Tags vor.
    <% end %>
  </div>
</div>
