<div class="card bg-green-lighten-4">
  <div class="card-header bg-green-darken-3">
    <h5 class="text-light">
      <%= tags_description %>
    </h5>
  </div>
  <div class="card-body">
    <% related_tags.sort_by(&:title).each do |t| %>
      <%= link_to t.short_title, tag_path(t), class: "badge badge-light",
                  data: { toggle: 'tooltip', placement: 'top'},
                  title: t.title %>
    <% end %>
  </div>
</div>
