<div
  id="submit-feedback"
  class="modal fade"
  aria-hidden="true"
  aria-label="<%= t('feedback.tooltip') %>"
  data-controller="modal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
      <%= turbo_frame_tag "feedback-form",
      src: new_feedback_path, loading: "lazy", target: "_top" do %>
      <%= render partial: "spinner/loading" %>
      <% end %>
    </div>
  </div>
</div>
