<div id="submit-feedback" data-controller="modal" class="modal fade" tabindex="-1"
      role="dialog" aria-label="<%= t('feedback.tooltip') %>" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
        <%= turbo_frame_tag "feedback-form",
              src: new_feedback_path, loading: "lazy", target: "_top" do %>
          <%= render partial: "spinner/loading" %>
        <% end %>
    </div>
  </div>
</div>
