<div class="row">
  <div class="col-12 text-center">
    <button type="button"
            id="submit-import-vertex"
            class="btn btn-sm btn-primary">
      <%= t('buttons.import') %>
    </button>
    <button type="button"
            class="btn btn-sm btn-secondary ml-2"
            id="cancel-import-vertex">
      <%= t('buttons.reset') %>
    </button>
  </div>
</div>
