<%= form_with url: url,
              scope: scope,
              method: method,
              remote: remote,
              data: { controller: "search-form" },
              role: "search" do |f| %>
  <div class="row mb-3 p-2">
    <% fields.each do |field| %>
      <%= render field.with_form(f) %>
    <% end %>
  </div>

  <% hidden_fields.each do |name, value| %>
    <%= f.hidden_field name, value: value %>
  <% end %>
<% end %>