<div class="card bg-light mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-12">
        <h5>
          Sitzungen (<%= lessons.count %>)
          <i class="far fa-question-circle helpdesk"
             tabindex="-1"
             data-toggle="popover"
             data-trigger="focus"
             title="Info"
             data-content="Dies ist die Liste aller assoziierten Sitzungen.">
          </i>
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body p-2">
    <ul>
      <% lessons.each do |l| %>
        <li>
          <% if no_inspection_and_editor?(inspection, l.lecture) %>
            <%= link_to l.lecture.title,
                        edit_lecture_path(l.lecture),
                        class: lectures_color(l.lecture) %>
          <% else %>
            <%= link_to l.lecture.title,
                        inspect_lecture_path(l.lecture),
                        class: lectures_color(l.lecture) %>
          <% end %>
          :
          <%= l.to_label %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
