<div class="row px-2 py-2 mt-2">
  <div class="col-12">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        <%= t('basics.lesson') %>
      </span>
      <%= @lesson.title_for_viewers %>
    </h4>
  </div>
</div>
<div class="row p-2">
  <div class="col-6">
    <%= render partial: 'lessons/basics',
               locals: { lesson: @lesson,
                         f: nil,
                         inspection: true } %>
  </div>
  <div class="col-6">
    <%= render partial: 'lessons/content',
               locals: { lesson: @lesson,
                         f: nil,
                         inspection: true } %>
  </div>    
</div> 