<div class="card bg-light">
  <div class="card-header bg-generic-card-header">
    <h5>
      <%= lessons_description %>
    </h5>
  </div>
  <div class="card-body" id="relatedLessonsBody">
    <% if lessons.any? %>
      <ul>
        <% lessons.each do |l| %>
          <li class="text-dark">
            <%= link_to l.title, l, class: "text-dark" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%= t('no_related_lessons') %>
    <% end %>
  </div>
</div>