<div class="card bg-brown-lighten-4">
  <div class="card-header bg-brown-darken-2"><h5 class="text-light"><%= lessons_description %></h5></div>
  <div class="card-body">
  <ul>
    <% lessons.each do |l| %>
    <li class="text-dark"><%= link_to l.title, l, class: "text-dark" %></li>
    <% end %>
  </ul>
</div>
</div>
