<div class="card">
  <div class="card-header">
    <h5>
      <%= lessons_description %>
    </h5>
  </div>
  <div class="card-body" id="relatedLessonsBody">
    <ul>
      <% lessons.each do |l| %>
        <li class="text-dark">
          <%= link_to l.title, l, class: "text-dark" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>