<% if media.present? %>
  <div class="row">
    <% media.each do |medium| %>
      <div class="col-12 col-lg-6 pb-2">
        <%= render partial: 'media/medium',
                   locals: { medium: medium,
                             tags: false,
                             from: 'lesson',
                             ref_link: nil } %>
      </div>
    <% end %>
  </div>
<% end %>
