<div class="card bg-orange-lighten-4">
  <div class="card-header bg-orange-darken-2"><h5 class="text-light">Dozenten</h5></div>
  <div class="card-body">
  <ul>
    <% teachers.each do |t| %>
    <li><%= link_to t.name, t, class: 'text-dark' %></li>
    <% end %>
  </ul>
  </div>
</div>
