<div class="row">
  <div class="col-12">
    <h2>
      <span class="badge badge-secondary mr-3">
        Dozent
      </span>
      <%= @teacher.name %>
    </h2>
  </div>
</div>
<div class="row pt-3 pb-2">
  <div class="col-12 col-md-6 col-lg-4 pt-3">
    <%= render partial: 'teacher', locals: { teacher: @teacher } %>
  </div>
  <% unless @teacher.lectures.empty? %>
    <div class="col-12 col-md-6 col-lg-4 pt-3">
      <%= render partial: 'lectures/lectures',
                 locals: { lectures: @teacher.lectures_by_date,
                           type: 'lecture_info'} %>
    </div>
  </div>
<% end %>
