<div class="card bg-light"
     id="question-solution-edit"
     data-question="<%= question.id %>">
  <%= render partial: 'questions/solution',
             locals: { question: question,
                       solution: question.solution } %>
</div>