<tr>
  <% columns.each do |column| %>
    <th class="<%= column.css_class %>" data-mode="<%= column.data_mode %>">
      <%= column.label %>

      <% if column.sublabel %>
        <br>
        <div class="text-muted"><%= column.sublabel %></div>
      <% end %>
    </th>
  <% end %>
</tr>
