<% unless purpose == 'import' %>
    <div class="col-6 col-lg-3 mb-3">
        <%= f.label :answers_count, t('basics.answer_count'),
                    class: 'form-label' %>
        <%= helpdesk(t('admin.medium.info.answer_count'), false) %>
        <%= f.select :answers_count,
                     options_for_select([[t('access.irrelevant'), 'irrelevant'],
                                         [1,1],[2,2],[3,3],[4,4],[5,5], [6,6],
                                         ['>6', 7]],['irrelevant']),
                     {},
                     { class: 'form-select'} %>

    </div>
<% end %>