<div class="col-6 col-lg-3 mb-3">
    <%= f.label :per, t('basics.hits_per_page'),
                class: 'form-label' %>
    <%= f.select :per,
                 options_for_select([[10,10],[20,20],[50,50]],[10]),
                 {},
                 { id: 'media_per',
                   class: 'form-select'} %>
</div>