<div class="card bg-mdb-color-lighten-5">
  <div class="card-header bg-mdb-color-lighten-2">
    <span class="text-light">
      <%= chapter.to_label %>
    </span>
  </div>
  <div class="card-body">
    <% unless chapter.details.blank? %>
      <div class="bg-mdb-color-lighten-8 rounded p-2">
        <%= chapter.details.html_safe %>
      </div>
    <% end %>
    <ul class="list-group list-group-flush">
      <%= render partial: 'lectures/show/section',
                 collection: chapter.sections.includes(:chapter)
                                    .where(hidden: [false, nil]),
                 cached: true %>
    </ul>
  </div>
</div>