<%= stylesheet_link_tag 'feedback' %>

<%# Feedback button %>
<button type="button" id="feedback-btn" class="btn" title="Submit feedback"
    data-bs-toggle="modal"
    data-bs-target="#submit-feedback">
  <i class="bi bi-star-fill"></i>
</button>

