<div class="card bg-teal-lighten-4">
  <div class="card-header bg-teal-darken-3">
    <h5 class="text-light">
      Inhalt
    </h5>
  </div>
  <div class="card-body">
    <% if items.present? %>
      <ul class="list-group">
        <% items.each do |i| %>
          <li class="list-group-item" style="background: aliceblue;">
            <div class="row" >
              <div class="col-3" style="background: <%= i.background %>">
                <%= i.short_reference %>
              </div>
              <div class="col-9">
                <%= i.short_description %>
              </div>
            </div>
          </li>
        <% end%>
      </ul>
    <% else %>
      Es liegen keine detaillierten Inhaltsangaben vor.
    <% end %>
  </div>
</div>