<div class="card bg-light">
  <% unless embedded %>
    <div class="card-header bg-generic-card-header">
      <h5>
        <%= t('content') %>
      </h5>
    </div>
  <% end %>
  <div class="card-body" style="max-height: <%= small ? '60vh' : '70vh' %>;
                                overflow-y: scroll;">
    <%= render partial: 'items/items_list',
               locals: { items: items,
                         section_links: section_links,
                         content: content } %>
  </div>
</div>