<div>
  <%= form.label :content, t("vignettes.slide_content") %><br>
  <trix-toolbar id="vignette-content-toolbar"></trix-toolbar>
  <%= form.rich_textarea :content, toolbar: "vignette-content-toolbar" %>
</div>