<div class="d-flex justify-content-between align-items-center mb-2">
    <%= f.text_field :text, class: "form-control me-2", required: true %>
    <%= f.hidden_field :_destroy, class: "vignette-mc-hidden-destroy" %>
    <button class="btn btn-outline-danger remove-vignette-mc-option" type="button"
            <%= published ? 'disabled' : '' %>>
        <i class="bi bi-trash3-fill"></i>
    </button>
</div>
