<div class="modal fade"
     id="destinationWarningModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="destinationWarningModalLabel" aria-hidden="true"
     data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="destinationWarningModalLabel">
          Hinweis: Quarantäne
        </h5>
      </div>
      <div class="modal-body">
        Die folgenden named destinations tauchen in Referenzen auf dieses
        Skript auf, liegen in der aktuell hochgeladenen Datei aber nicht mehr
        vor:
        <div id="quarantineDestinations">
        </div>
        Aus diesem Grund sind wurden sie in die Quarantäne verschoben. Dort
        kannst Du sie weiterverarbeiten.
        <div class="row mt-3">
          <div class="col-12 text-center">
            <button id="keep-old-destinations"
                    type="button"
                    class="btn btn-secondary">
              Okay
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
