<div class="card bg-light">
  <div class="card-header bg-generic-card-header">
    <h5>
      <%= t('basics.external_link') %>
    </h5>
  </div>
  <div class="card-body text-center">
    <%= link_to external_link_description_not_empty(medium),
                medium.external_reference_link,
                class: "btn btn-info break-text-any-where",
                title: medium.external_reference_link,
                target: :_blank %>
  </div>
</div>