<div class="card bg-light">
  <div class="card-header bg-generic-card-header">
    <h5>
      <%= t('basics.related_media') %>
      <span class="badge badge-secondary">
        <%= media.size %>
      </span>
    </h5>
  </div>
  <div class="card-body card-large">
    <div class="row px-2">
      <div class="col-12">
        <% if media.any? %>
          <div class="row">
            <% media.each do |m| %>
              <div class="col-12 col-md-6 col-lg-4 col-xl-12 mb-3">
                <%= render partial: 'media/medium',
                           locals: { medium: m,
                                     tags: tags,
                                     from: '',
                                     ref_link: nil,
                                     lecture: nil } %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= t('no_related_media') %>
        <% end %>
      </div>
    </div>
  </div>
</div>