<% if params[:project] ==  'keks' %>
  <div class="row">
    <div class="col-12">
      <div class = "alert alert-info">
        Hier findest Du speziell für diese Vorlesung zusammengestellte,
        kuratierte Quizzes.
      </div>
    </div>
  </div>
<% end %>
