<% if params[:project] ==  'keks' %>
  <div class="row">
    <div class="col-12">
      <div class = "alert alert-info">
        Hier findest Du speziell für diese Vorlesung zusammengestellte
        Quizzes. Für noch mehr Fragen kannst Du zur
        <%= link_to 'KeKs-Seite',
                    DefaultSetting::KEKS_LINK,
                    class: "btn btn-outline-info",
                    target: :_blank %>
        gehen.
      </div>
    </div>
  </div>
<% end %>
