<% if params[:module_id].to_i ==  3 %>
<div class="row">
<div class="col-12">
<div class = "alert alert-info">
Hier findest Du speziell für diese Vorlesung zusammengestellte KeKs-Quizzes.
Für noch mehr KeKs-Fragen kannst Du zur
<%= link_to 'KeKs-Seite', 'https://keks.mathi.uni-heidelberg.de', class: "btn btn-outline-info", target: :_blank %>
gehen.
</div>
</div>
</div>
<% end %>
