<% if params[:project] ==  'keks' %>
  <div class="row">
    <div class="col-12">
      <div class = "alert alert-info">
        Hier findest Du speziell für diese Vorlesung zusammengestellte
        Quizzes. Für ein schnelles, zufällig zusammengestelltes Quiz
        zu diesem Modul klickst Du
        <%= link_to 'hier',
                    random_quiz_path(@course),
                    target: :_blank %>
        .
      </div>
    </div>
  </div>
<% end %>
