<div class="modal fade"
     id="newTagModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="publishMediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="publishMediumModalLabel">
          Medium veröffentlichen
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body"
           id="publishMedium-modal-content">
        <%= form_with url: publish_medium_path,
                      scope: 'search',
                      remote: true,
                      method: 'post' do |f| %>
        <% end %>
      </div>
    </div>
  </div>
</div>