<div id="quarantine_accordion"
     role="tablist">
  <div class="card bg-mdb-color-lighten-6">
    <div class="card-header"
         role="tab" id="quarantine_heading">
      <div class="row">
        <div class="col-6">
          <h5 class="text-dark">
            Quarantäne
            <%= ' (' + quarantine.count.to_s + ') '%>
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover"
               data-trigger="focus"
               title="Info"
               data-content="Dies ist eine Liste aller Items, die in Quarantäne
               sind. Es handelt sich hierbei um Items, die an anderen Stellen
               referenziert werden und zu diesem Manuskript gehören, aber in der
               vorliegenden pdf-Datei nicht mehr vorkommen.">
            </i>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-primary"
             data-toggle="collapse"
             href="#quarantine_collapse"
             aria-expanded="false" aria-controls="quarantine_collapse">
            Ein-/Ausklappen
          </a>
        </div>
      </div>
    </div>
    <div id="quarantine_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#quarantine_accordion">
      <div class="card-body" id="quarantineCardBody">
         <%= render partial: 'media/destinations_in_quarantine',
                    locals: { quarantine: quarantine } %>
      </div>
    </div>
  </div>
</div>