<div
  id="quarantineModal"
  class="modal fade"
  style="max-height: 85vh;"
  aria-hidden="true"
  aria-labelledby="quarantineModalLabel"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-xl"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="quarantineModalLabel"
          class="modal-title">
          <%= t('manuscript.quarantine') %>
        </h5>
        <button type="button"
          class="btn-close"
          aria-label="Close"
          data-bs-dismiss="modal">
        </button>
      </div>
      <div id="quarantine-modal-content"
        class="modal-body">
        <%= render partial: 'media/destinations_in_quarantine',
        locals: { quarantine: quarantine } %>
      </div>
    </div>
  </div>
</div>
