<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        Details
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Der Quiz-Graph ist der gerichtete Graph, der zu dem
           Quiz korrespondiert."
           data-html="true">
        </i>
      </div>
      <div class="col-4 text-right">
        <% unless question.new_record? %>
          <a href="<%= edit_question_path(question) %>"
             class="fas fa-edit fa-lg text-dark"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="Bearbeiten">
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
      <% if question.new_record? %>
        Ein editierbarer Fragentext mit Antworten wird erzeugt, nachdem Du
        die Frage erstmalig abgespeichert hast.
      <% else %>
        <%= render partial: 'quizzes/quizzable_preview',
                   locals: { quizzable: question } %>
      <% end %>
      <div class="row mt-3">
        <div class="col-12">
          Schwierigkeitsgrad:
          <%= level_to_word(question) %>
        </div>
        <div class="col-12">
          unabhängig: <%= independent_to_word(question) %>
        </div>
      </div>
  </div>
</div>