<div class="row">
  <div class="col-4">
    <%= t('categories.question.singular') %>
  </div>
  <div class="col-8 text-right">
    <%= link_to t('buttons.edit'),
                edit_question_path(question),
                class: 'btn btn-sm btn-outline-secondary' %>
  </div>
</div>
<%= render partial: 'quizzes/quizzable_preview',
           locals: { quizzable: question } %>
<hr>