  <div class="card bg-light">
    <div class="card-header bg-brown">
      <div class="row">
        <div class="col-6 text-light">
          Quiz
        </div>
        <div class="col-6">
          <div class="media-card-header">
            <a href="<%= take_quiz_path(medium.id) %>"
               class="no-deco mr-2"
               target="_blank">
              <i class="material-icons text-light"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Quiz starten">
                videogame_asset
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          Anzahl der Fragen:
          <%= medium.becomes(Quiz).question_ids.count %>
        </div>
        <div class="col-12">
          Schwierigkeitsgrad:
          <%= level_to_word(medium.becomes(Quiz)) %>
        </div>
      </div>
    </div>
  </div>