<div class="row">
  <div class="col-4">
    <%= t('categories.remark.singular') %>
    <%= helpdesk(t('admin.remark.info.about'), false) %>
  </div>
  <div class="col-8 text-right">
    <%= link_to t('buttons.edit'),
                edit_remark_path(remark),
                class: 'btn btn-sm btn-outline-secondary' %>
  </div>
</div>
<%= render partial: 'quizzes/quizzable_preview',
           locals: { quizzable: remark } %>
<hr>