<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        Details
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Eine Bemerkung korrespondiert zu einem Passus im Quiz,
           in dem man der NutzerIn Dinge erklärt, Sachverhalte einordnet oder
           den weiteren Beweisgang vorantreibt."
           data-html="true">
        </i>
      </div>
      <div class="col-4 text-right">
        <% unless remark.new_record? %>
          <a href="<%= edit_remark_path(remark) %>"
             class="fas fa-edit fa-lg text-dark"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="Bearbeiten">
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% if remark.new_record? %>
        Ein editierbarer Text wird erzeugt, nachdem Du
        die Quiz-Erläuterung erstmalig abgespeichert hast.
    <% else %>
      Anzeige
      <%= render partial: 'quizzes/quizzable_preview',
                 locals: { quizzable: remark } %>
    <% end %>
  </div>
</div>