<div
  id="snapshotModal"
  class="modal fade"
  aria-hidden="true"
  aria-labelledby="snapshotModalLabel"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="snapshotModalLabel"
          class="modal-title">
          <%= t('basics.screenshot') %>
        </h5>
        <button type="button"
          class="btn-close"
          aria-label="Close"
          data-bs-dismiss="modal">
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid mb-3"
          src="<%= medium.manuscript_screenshot_url %>">
      </div>
    </div>
  </div>
</div>
