<div class="modal fade"
     id="statisticsModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="statisticsModalLabel" aria-hidden="true"
     data-backdrop="static"
     data-keyboard="true">
  <div class="modal-dialog modal-xxl"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <% if @medium.sort == 'Quiz' %>
          <ul class="nav nav-pills mt-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="media-tab" data-bs-toggle="pill"
                href="#calls-stats">
                <%= t('statistics.calls') %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="teachable-tab" data-bs-toggle="pill"
                href="#success-stats">
                <%= t('statistics.success') %>
              </a>
            </li>
          </ul>
        <% else %>
          <h5 class="modal-title" id="statisticsModalLabel">
            <%= t("statistics.calls") %>
          </h5>
        <% end %>
        <button type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <% if @medium.sort == 'Quiz' %>
        <div class="modal-body" id="statistics-modal-content">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="calls-stats"></div>
            <div class="tab-pane fade" id="success-stats"></div>
          </div>
        </div>
      <% else %>
        <div class="modal-body" id="calls-stats"></div>
      <% end %>
    </div>
  </div>
</div>