<div id="medium-area">
  <%= render partial: 'form', locals: { medium: @medium, new_medium: false } %>
</div>
<div class="modal fade" id="manuscriptInfoModal" tabindex="-1" role="dialog"
     aria-labelledby="manuscriptInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manuscriptInfoModalLabel">
          Informationen zu Manuskripten
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        Hier könnte ein Text zu Manuskripten/named destinations stehen.
      </div>
    </div>
  </div>
</div>
