<div id="medium-area">
  <%= render partial: 'media/form',
             locals: { medium: @medium,
                       new_medium: false } %>
</div>
<div id="medium-manuscript-destinations">
  <% if !@manuscript.empty? %>
    <div class="row mt-2 p-2">
      <div class="col-12">
        <%= render partial: 'media/destinations',
                   locals: { medium: @medium,
                             manuscript: @manuscript } %>
      </div>
    </div>
  <% end %>
</div>
<%= render partial: 'media/destinations_warning' %>
<%= render partial: 'tags/modal' %>