<div id="medium-area">
  <%= render partial: 'form', locals: { medium: @medium, new_medium: false } %>
</div>
<%= render partial: 'media/destinations_warning' %>
<%= render partial: 'tags/modal' %>