<% content_for :title, "THymE - \"#{@medium.caption}\"" %>
<div id="thyme-feedback">
  <div id="thyme" data-medium="<%= @medium.id %>">
    <figure id="hypervideo-container">
      <div id="video-container">
        <video id="video" data-paused="true" crossorigin="anonymous" data-time="<%= @time %>">
          <source src="<%= @medium.video.url(host: host) %>">
        </video>
        <div id="video-controlBar">
          <div id="video-controls">
            <div id="feedback-timeline">
              <i id="play-pause" class="material-icons clickable">
                play_arrow
              </i>
              <span id="current-time">
                0:00:00
              </span>
              <span id="heatmap">
                <!-- COFFEE SCRIPT INSERTS HEATMAP HERE -->
              </span>
              <span id="markers">
                <!-- COFFEE SCRIPT INSERTS MARKERS HERE -->
              </span>
              <input type="range" id="seek-bar"
                     min="0" max="100" step="0.1" value="0">
              <span id="max-time">
                0:00:00
              </span>
            </div>
            <div id="feedback-special-buttons">
              <i id="minus-ten" class="material-icons clickable">
                replay_10
              </i>
              <i id="plus-ten" class="material-icons clickable">
                forward_10
              </i>
            </div>
            <div id="feedback-volume-controls">
              <i id="mute" class="material-icons clickable">
                volume_up
              </i>
              <input type="range" id="volume-bar"
                     min="0" max="1" step="0.1" value="1">
            </div>
            <div id="feedback-speed-control">
              <select id="speed" name="speed">
                <option value="0.85">0.85x</option>
                <option value="1" selected>1x</option>
                <option value="1.25">1.25x</option>
                <option value="1.5">1.5x</option>
                <option value="1.75">1.75x</option>
                <option value="2">2x</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <figcaption id="annotation-caption">
        <div id="annotation-infobar">
          <!-- ANNOTATION CATEGORY -->
        </div>
        <div id="annotation-comment">
          <!-- ANNOTATION COMMENT -->
        </div>
        <!-- ANNOTATION AREA BUTTONS -->
        <div id="annotation-buttons">
          <i id="annotation-previous-button"
             class="fa fa-arrow-left fa-lg clickable"
             data-toggle="tooltip"
             title="previous annotation">
          </i>
          <i id="annotation-goto-button"
             class="fa fa-map-marker fa-lg clickable"
             data-toggle="tooltip"
             title="go to the annotation's position">
          </i>
          <i id="annotation-next-button"
             class="fa fa-arrow-right fa-lg clickable"
             data-toggle="tooltip"
             title="next annotation">
          </i>
        </div>
      </figcaption>
    </figure>
    <div id="below-area">
      <div id="toggles">
        <label class="switch">
          <input id="toggle-mistake-annotations-check" type="checkbox" checked="true">
          <span class="slider round"></span>
        </label>
        <label class="switch">
          <input id="toggle-content-annotations-check" type="checkbox" checked="true">
          <span class="slider round"></span>
        </label>
        <label class="switch">
          <input id="toggle-presentation-annotations-check" type="checkbox" checked="true">
          <span class="slider round"></span>
        </label>
        <label class="switch">
          <input id="toggle-note-annotations-check" type="checkbox" checked="true">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>