<div class="row my-3">
  <div id="geogebraDescription"
       class="col-12 text-center">
    <%= raw(@medium.content) %>
  </div>
</div>
<div style="display: flex; justify-content: center;">
  <div id="ggb-element"
       data-filename="<%= @medium.geogebra_url_with_host %>"
       data-type="<%= @medium.geogebra_app_name %>">
  </div>
</div>
<div class="row mt-4">
  <div class="col-12 text-center">
    <%= t('geogebra.attribution_html',
          geogebra_link: link_to('GeoGebra',
                                 'https://www.geogebra.org')) %>
  </div>
</div>