<div id="commentsCard">
	<div class="row mb-2">
		<div class="col-12 col-xl-6">
			<h4>
				<%= t('basics.comments_for',
							subject: @medium.title_for_viewers) %>
			</h4>
		</div>
		<div class="col-12 col-xl-6 text-right">
			<%= link_to t('thyme_editor.back_to_medium'),
									medium_path(@medium),
									class: 'btn btn-outline-secondary btn-sm' %>
		</div>
	</div>
	<%= commontator_thread(@medium) %>
</div>
