<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>
          Informationen zum Modul <%= course.title %>
        </h4>
      </div>
      <div class="card-body" id="organizationalCardBody">
        <h5>
          ModuleditorInnen
        </h5>
        <ul>
          <% course.editors.each do |e| %>
            <li>
              <% if e.teacher? %>
                <%= link_to e.name, teacher_path(e) %>
              <% else %>
                <%= e.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if course.organizational %>
          <h5>
            Weitere Informationen
          </h5>
          <%= course.organizational_concept&.html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>