<div class="row mt-3 p-2">
  <div class="col-12">
    <h4>
      Modulübersicht
    </h4>
  </div>
</div>
<div class="row p-2">
  <div class="col-8">
  </div>
  <div class="col-4 text-right">
    <%= paginate @courses %>
  </div>
</div>
<div class="row bg-light px-4 py-3">
  <div class="col-3">
    <strong>
      Titel
    </strong>
  </div>
  <div class="col-5">
    <strong>
      Vorlesungen
    </strong>
  </div>
  <div class="col-2">
    <strong>
      Aktionen
    </strong>
  </div>
  <div class="col-2">
    <% if current_user.admin? %>
      <%= link_to 'Modul anlegen', new_course_path,
                  class: 'btn btn-secondary',
                  id: 'create-new-course' %>
    <% end %>
  </div>
</div>
<div id="row-new-course" class="border-bottom" style="display: none;" >
</div>
<% @courses.each do |c| %>
  <div class="row border-bottom px-4" id="row-course-<%= c.id %>">
    <%= render partial: 'courses/row', locals: { course: c }%>
  </div>
<% end %>
