<div class="row">
  <div class="col-12">
    <h2><span class="badge badge-secondary mr-3">Kurs</span><%= @course.title %></h2>
  </div>
</div>
<% lectures = filter_lectures_by_lectures(@course.lectures, current_user.related_lectures) %>
<% unless lectures.empty? %>
<div class="row pt-3">
<div class="col-12 col-md-6 col-lg-4 pt-3">
<%= render partial: 'lectures/lectures', locals: { lectures: lectures,
                                                   type: 'teacher_info'} %>
</div>
</div>
<% end %>
<% unless @course.tags.empty? %>
<div class="row pt-5">
<div class="col-12">
  <%= render partial: 'tags/tags_toggle', locals: { tags: @course.tags,
                                                    tags_description: 'Verknüpfte Begriffe',
                                                    id: @course.id} %>
</div>
</div>
<% end %>
