<div class="col mb-4">
	<div class="card h-100">
		<div class="card-header">Header
		</div>
  	<img src="/thyme.png" class="card-img-top" alt="Hier könnte ein Bild sein.">
  	<div class="card-body">
    	<h5 class="card-title">
    		<%= link_to teachable.title,
    								teachable %>
    	</h5>
    	<p class="card-text">
    		This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
    	</p>
  	</div>
  	<div class="card-footer">
    	<small class="text-muted">
    		Footer-Text
    	</small>
  	</div>
	</div>
</div>