<div
  id="chapterModal"
  class="modal fade"
  aria-hidden="true"
  aria-labelledby="chapterModalLabel"
  data-backdrop="static"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="chapterModalLabel" class="modal-title">
          <%= t("buttons.create_#{lecture.chapter_name}") %>
        </h5>
        <button type="button"
          class="btn-close"
          aria-label="Close"
          data-bs-dismiss="modal">
        </button>
      </div>
      <div id="chapter-modal-content" class="modal-body">
      </div>
    </div>
  </div>
</div>
