<div class="modal fade"
     id="chapterModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="chapterModalLabel" aria-hidden="true"
     data-backdrop="static">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chapterModalLabel">
          <%= t("buttons.create_#{lecture.chapter_name}") %>
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body" id="chapter-modal-content">
      </div>
    </div>
  </div>
</div>