<div class="modal fade" id="annotation-modal" tabindex="-1" role="dialog" aria-labelledby="annotation-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <% I18n.with_locale(current_user.locale) do %>
            <%= t('admin.annotation.annotation_modal_head')%>
          <% end %>
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6", id="annotation-modal-preview">
            <!--- LATEX-PREVIEW -->
          </div>
          <div class="col-md-6 col-md-offset-3", id="annotation-modal-content">
            <!--- CONTENT -->
          </div>
        </div>
      </div>
    </div>
</div>

<div id="annotation-update", data-update="", style="display: none;">
</div>