<b>Where's the problem?</b>

<br>

<div class="form-row ml-2", id="subcategory-radios">
  <div class="custom-control custom-radio custom-control-inline">
    <input id="subcategory-definition"
           class="custom-control-input"
           type="radio"
           value="definition"
           name="annotation[subtext]"
           checked="true">
    <label class="custom-control-label"
           for="subcategory-definition">
      definition
    </label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input id="subcategory-argument"
           class="custom-control-input"
           type="radio"
           value="argument"
           name="annotation[subtext]">
    <label class="custom-control-label"
           for="subcategory-argument">
      argument
    </label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input id="subcategory-strategy"
           class="custom-control-input"
           type="radio"
           value="strategy"
           name="annotation[subtext]">
    <label class="custom-control-label"
           for="subcategory-strategy">
      proof strategy
    </label>
  </div>
</div>