<% if group[:items].any? %>
  <% component.subtables_for(group).each do |subtable| %>
    <% if subtable[:title] %>
      <div
        class="
          bg-light p-2 px-3 border-bottom fw-bold text-dark border-top
          d-flex align-items-center
        "
      >
        <%= subtable[:title] %>
        <%= helpdesk(subtable[:help], false) if subtable[:help] %>
      </div>
    <% end %>

    <div class="p-3">
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-3">
        <% subtable[:items].each do |item| %>
          <%= render "roster/components/groups_tab/item_tile",
                     item: item,
                     group: group,
                     component: component,
                     group_type: group_type %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
