<div class="card-header bg-secondary text-white mt-3 d-flex justify-content-between align-items-center">
  <h6 class="mb-0 fw-bold">
    <%= t("registration.item.groups.#{group[:type]}") %>
  </h6>
  <% if group[:link] %>
    <%= link_to group[:link],
                class: "btn btn-sm btn-light",
                data: { turbo_prefetch: false } do %>
      <i class="bi bi-plus-lg"></i> <%= t('buttons.create') %>
    <% end %>
  <% end %>
</div>
