/* buttons */
#emergency-button {
  position: absolute;
  display: flex;
  left: 89%;
}

#annotations-toggle {
  position: absolute;
  display: flex;
  left: 89%;
  top: 40%;
  transform: translateY(-50%);
  input:checked + .slider {
    background-color: #2196F3;
  }
}

/* annotation modal */
#annotation-modal {
  .modal-content {
    width: 100%;
  }
  #annotation-modal-content {
    width: 100%;
  }
  #preview-toggle {
    input:checked + .slider {
      background-color: #0D6EFD;
    }
    .switch {
      vertical-align: middle;
    }
  }
  #annotation-modal-preview {
    height: 543px;
    width: 35%;
    word-wrap: break-word;
    overflow-y: scroll;
  }
  #annotation_comment {
    height: 150px;
    resize: none;
  }
  #annotation_category_text {
    width: 200px;
  }
}

#emergency-link {
  text-align: center;
}

#markers {
  position: relative;
  top: -6px;
  width: 0;
  height: 0;
  display: flex;
  cursor: pointer;
}

#annotation-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#annotation-infobar {
  height: 2em;
  color: black;
  overflow-y: scroll;
  padding: 3px;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

#annotation-comment {
  margin-left: 3px;
  margin-right: 3px;
  overflow-y: scroll;
  height: 85%;
}

#annotation-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  margin-top: auto;
}

#annotation-color-picker {
  input[type="radio"] {
    display: none;
    &:checked + label {
      span {
        transform: scale(1.25);
        border: 2px solid black;
      }
    }
  }
  text-align: center;
  label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    cursor: pointer;
    &:hover {
      span { 
        transform: scale(1.25); 
      }
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform .2s ease-in-out;
    }
  }
}
