.blue
{
  background-color: blue;
}

.redtext {
  color: red;
}

.darkredtext {
  color: #d61313;
}

.orangetext {
  color: orange;
}

.bluetext {
  color: blue;
}

.chocolatetext {
  color: chocolate;
}

.darkblue {
  color: #2251dd;
}

.grey {
  color: grey;
}

.greyed_out
{
  color: #9a9a9a;
}

.unpublished, .locked {
  color: IndianRed;
}


.white
{
  background-color: white;
}

.newsColor {
  background-color: #BCE4EA;
}

.bg-truth {
  background-color: #e6ffe9;
}

.bg-falsehood {
  background-color: #ffe4e3;
}

.bg-nohit {
  background-color: #fff2cc;
}

.bg-edit-answer
{
  background-color: #e3d6c1;
}

.bg-edit-question
{
  background-color: #e1f5fe;
}

.bg-question
{
  background: linear-gradient(#e1f5fe, white);
}

.bg-remark
{
  background-color: #f9fbe7;
}

.bg-incorrect
{
  background-color: #ffe4e3;
  // background: linear-gradient(#ffe4e3, white);
}

.bg-incorrect-message
{
  background-color: #ffe6e6;
  // background: linear-gradient(#ffe4e3, white);
}

.bg-correct
{
  background-color: #e6ffe9;
  // background: linear-gradient(#e6ffe9, white);
}

.bg-lime-lighten-5
{
   background-color: #f9fbe7;
}

.bg-lime-lighten-4
{
  background-color: #f0f4c3;
}

.bg-lime-lighten-3
{
  background-color: #e6ee9c;
}

.bg-lime-lighten-2
{
  background-color: #dce775;
}

.bg-lime-lighten-1
{
  background-color: #d4e157;
}

.bg-lime
{
  background-color: #cddc39;
}

.bg-lime-darken-1
{
  background-color: #c0ca33;
}

.bg-lime-darken-2
{
  background-color: #afb42b;
}

.bg-lime-darken-3
{
  background-color: #9e9d24;
}

.bg-lime-darken-4
{
  background-color: #827717;
}

.bg-yellow-lighten-5
{
  background-color: #fffde7;
}

.bg-yellow-lighten-4
{
  background-color: #fff9c4;
}

.bg-yellow-lighten-3
{
  background-color: #fff59d;
}

.bg-yellow-lighten-2
{
  background-color: #fff176;
}

.bg-yellow-lighten-1
{
  background-color: #ffee58;
}

.bg-yellow
{
  background-color: #ffeb3b;
}

.bg-post-it-yellow {
  background-color: #ffffa5;
}

.bg-post-it-green {
  background-color: #c5e29e;
}

.bg-post-it-pink {
  background-color: #fad1df;
}

.bg-post-it-blue {
  background-color: #c6e3ec;
}

.bg-post-it-orange {
  background-color: #fcc782;
}

.bg-post-it-light-green {
  background-color: #CEE2D7;
}

.bg-post-it-light-pink {
  background-color: #1A1A1A;
}

.bg-post-it-red {
  background-color: #f7c5bb;
}

.bg-submission-green {
  background-color: #c1f1c4;
}

.bg-submission-yellow {
  background-color: #eeeea5;
}

.bg-submission-red {
  background-color: #f0c1c1;
}

.bg-submission-orange {
  background-color: #ffbf80;
}

.bg-submission-darker-green {
  background-color: #66cc66;
}

.bg-yellow-darken-1
{
  background-color: #fdd835;
}

.bg-yellow-darken-2
{
  background-color: #fbc02d;
}

.bg-yellow-darken-3
{
  background-color: #f9a825
}

.bg-yellow-darken-4
{
  background-color: #f57f17
}


.bg-green-darken-4
{
  background-color: #1b5e20;
}

.bg-green-darken-3
{
  background-color: #2e7d32;
}

.bg-green-darken-4
{
  background-color: #1b5e20;
}

.bg-green-lighten-4 {
  background-color: #c8e6c9;
}

.bg-green
{
  background-color: #4caf50;
}

.bg-deep-orange-darken-3
{
  background-color: #d84315;
}

.bg-deep-orange-lighten-4
{
  background-color: #ffccbc;
}

.bg-light-blue-darken-3
{
  background-color: #0277bd;
}

.bg-light-blue-lighten-4
{
  background-color: #b3e5fc;
}

.bg-teal-darken-3 {
  background-color: #00695c;
}

.bg-teal-darken-2
{
  background-color: #00796b;
}

.bg-teal-darken-1
{
  background-color: #00897b;
}


.bg-teal
{
  background-color: #009688;
}

.bg-teal-lighten-1
{
  background-color: #26a69a;
}

.bg-teal-lighten-2
{
  background-color: #4db6ac;
}


.bg-teal-lighten-3
{
  background-color: #80cbc4;
}

.bg-teal-lighten-4
{
  background-color: #b2dfdb;
}

.bg-teal-lighten-5
{
  background-color: #eef8f8;
}

.bg-blue-gray-lighten-5
{
  background-color: #eceff1;
}

.bg-brown-lighten-5
{
  background-color: #efebe9;
}

.bg-brown-lighten-4
{
  background-color: #d7ccc8;
}

.bg-brown-lighten-3
{
  background-color: #bcaaa4;
}

.bg-brown-lighten-2
{
  background-color: #a1887f;
}

.bg-brown-lighten-1
{
  background-color: #8d6e63;
}

.bg-brown
{
  background-color: #795548;
}

.bg-brown-darken-1
{
  background-color: #6d4c41;
}

.bg-brown-darken-2
{
  background-color: #5d4037;
}

.bg-brown-darken-3
{
  background-color: #4e342e;
}

.bg-brown-darken-4
{
  background-color: #3e2723;
}

.bg-mdb-color-lighten-7
{
  background-color: #ECF0F6;
}

.bg-mdb-color-lighten-6
{
  background-color: #E5EAF1;
}

.bg-mdb-color-lighten-6a
{
  background-color: #dae0ea;
}

.bg-mdb-color-lighten-5
{
  background-color: #D0D6E2;
}

.bg-mdb-color-lighten-8
{
  background-color: #eef2f6;
}

.bg-mdb-color-lighten-4
{
  background-color: #B1BACE;
}

.bg-mdb-color-lighten-3
{
  background-color: #929FBA;
}

.bg-mdb-color-lighten-2
{
  background-color: #7283A7;
}

.bg-cold-brown
{
  background-color: #835c63;
}

.bg-mdb-color-lighten-1
{
  background-color: #59698D;
}

.bg-mdb-color
{
  background-color: #45526E;
}

.bg-mdb-color-darken-1
{
  background-color: #3B465E;
}

.bg-mdb-color-darken-2
{
  background-color: #2E3951;
}

.bg-mdb-color-darken-3
{
  background-color: #1C2A48;
}

.bg-mdb-color-darken-4
{
  background-color: #1C2331;
}

.bg-orange-darken-2
{
  background-color: #f57c00;
}

.bg-orange
{
  background-color: #ff9800;
}

.bg-orange-lighten-4
{
  background-color: #ffe0b2;
}

.bg-light-blue-lighten-5
{
  background-color: #e1f5fe;
}


.bg-grey-lighten-6
{
  background-color: #fdfdfd;
}


.bg-grey-lighten-5
{
  background-color: #fafafa;
}

.bg-grey-lighten-4
{
  background-color: #f5f5f5;
}

.bg-grey
{
  background-color: lightgrey;
}

.bg-greyed-out
{
  background-color: #9a9a9a;
}

.bg-generic-card-header
{
  background-color: #d9e0ef;
}