#signin-box {
    // background-color: rgb(248, 245, 255);
    background-color: white;
    max-width: 1100px;
    width: 1100px;
    padding: 70px 40px;
    border-radius: 8px;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.13);
}

body {
    background-image: image-url('landing-background.jpg');
    background-size: cover;
}