// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lecture-video-info {
  position: relative;
  left: -0.5rem;
}

#lecture-basics-warning {
  color: red;
  display: none;
}

#lecture-preferences-warning, #lecture-comments-warning,
#lecture-assignments-warning {
  color: red;
  display: none;
}

#lecture-organizational-warning {
  color: red;
  display: none;
}

#show-media-button {
  display: none;
}

#new-chapter-area, #new-lesson-area {
  display: none;
}

#no-effect-warning, #no-effect-warning-lessons {
  display: none;
  color: red;
}

.helpdesk {
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
}

#organizationalCardBody {
  overflow-y: scroll;
  height: 70vh;
}

#importedMediaArea {
  display: none;
}

#lectureUserModalContent {
  overflow-y: scroll;
}

.teachable-body {
  display: flex;
  justify-content: flex-end;
}

#submission-team-size-buttons {
  display: none;
}

.lecture-tag {
  background-color: #dae0e5;

  &:hover {
    color: white !important;
  }
}

#lecture-nav-pills {
  background-color: white;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;

  box-shadow: 0px 2px 7px 0rem rgba(130,26,59,0.2);
  border: #821A3B solid 1px;
  border-radius: 0.4em;
  margin-bottom: 1.5em;
}

.lecture-nav-pill-button {
  --bs-nav-link-color: #821A3B;
  --bs-nav-link-hover-color: #8d1c40;
  --bs-nav-pills-link-active-bg: #821A3B;

  &:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(130, 26, 59, 0.25);
  }
}


.lecture-pane {
  background-color: white;
  padding: 1.5em 1em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: gray 1px solid;
  border-radius: 0.4em;
}