// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lecture-video-info {
  position: relative;
  left: -0.5rem;
}

#lecture-basics-warning {
  color: red;
  display: none;
}

#lecture-preferences-warning, #lecture-comments-warning,
#lecture-assignments-warning {
  color: red;
  display: none;
}

#lecture-organizational-warning {
  color: red;
  display: none;
}

#show-media-button {
  display: none;
}

#new-chapter-area, #new-lesson-area {
  display: none;
}

#no-effect-warning, #no-effect-warning-lessons {
  display: none;
  color: red;
}

.helpdesk {
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
}

#organizationalCardBody {
  overflow-y: scroll;
  height: 70vh;
}

#importedMediaArea {
  display: none;
}

#lectureUserModalContent {
  overflow-y: scroll;
}

.teachable-body {
  display: flex;
  justify-content: flex-end;
}

#submission-team-size-buttons {
  display: none;
}