// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

#mediaTable {
  overflow-y: scroll;
  max-height: 80vh;
}

#edit_tag_form {
  display: none;
}

#medium-basics-warning {
  color: red;
  display: none;
}

#protected-destinations {
  font-weight: bold;
}

#media-box-footer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.media-card-header {
  display: flex;
  justify-content: flex-end;
}

#media-card-subheader {
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}

#video-wait {
  display: none;
}

#video-preview {
  position: relative;
  width: 75%;
}

#destinationsCardBody {
  max-height: 50vh;
  overflow-y: scroll;
}

#manuscript-informer, #video-informer, #geogebra-informer, #userManuscript-informer {
  height: 1em;
}

#manuscript-preview {
  background: white;
}

.manuscript-thumbnail {
  object-fit: cover;
  max-height: 200px;
  object-position: 0px 0px;
  background: white;
}

.video-thumbnail {
  object-fit: contain;
  max-height: 200px;
  object-position: 0px 0px;
  background: white;
}

#video-edit {
  border: 1px solid gray;
  position: relative;
  max-width: 100%;
  max-height: calc(100% - 60px);
}

#thyme-edit {
  height:100%;
  width: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

#video-area-edit {
  border: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.action-box {
  padding: 10px;
}

#action-edit {
  border: 1px solid #f2f2f2;
  grid-column: 5 / 9;
  grid-row: 1 / 2;
  overflow-y: scroll;
}

#screenshot-edit {
  border: 1px solid #f2f2f2;
  grid-column: 7 / 9;
  grid-row: 2 / 3;
}

.screenshot-box {
  max-width: 90%;
  max-height: 60%;
  border: 1px solid lightgray;
  margin-left: auto;
  margin-right: auto
}

#toc-edit {
  border: 1px solid #f2f2f2;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

#meta-edit {
  border: 1px solid #f2f2f2;
  grid-column: 4 / 7;
  grid-row: 2 / 3;
}

#video-controlBar-edit {
	width: 100%;
	position: relative;
	bottom: 0px;
	left: 0px;
	padding: 5px;
	height: auto;
	background: lightgray;
	-webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#video-controls-edit {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 100%;
}

#volume-controls-edit {
	position: absolute;
	display: flex;
	width: 10%;
	right: 0%;
}

#add-buttons {
	position: absolute;
	display: flex;
	left: 75%;
}

.card-full {
  width: 100%;
  height: 100%;
}

.meta {
  background: #e6e6e6;
}

.detach {
  position: absolute;
  top: 0;
  right:0;
  padding: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#detach-manuscript, #detach-video, #detach-geogebra {
  font-size: 1em;
}

#thyme-edit ol {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#thyme-edit li a {
  display: block;
  color: black;
  padding: .7rem 1rem;
  transition: .3s;
  border-bottom: 1px solid lightgrey;
}

#thyme-edit .current {
  background: lightcyan;
  color: #000;
}

#thyme-edit li a:not(.current):hover,
#thyme-edit li a:not(.current):focus {
  background: #f0f0f0;
  color: #000;
  cursor: pointer;
}

#thyme-edit li a.current:hover,
#thyme-edit li a.current:focus {
  background: #b3ffff;
  color: #000;
  cursor: pointer;
}

#toc-area {
  position: relative;
  height: calc(100% - 4em);
}

#toc-list {
  position: relative;
  max-height: 100%;
}

#meta-area {
  position: relative;
  height: calc(100% - 4em);
}

#meta-list {
  position: relative;
  max-height: 100%;
}

.thyme-header {
  border-radius: 5px;
  border: 1px solid lightgrey;
  max-width: 100%;
  margin: 0px;
  padding: 8px 4px;
  display: flex;
  justify-content: space-between;
}

#delete-item {
  position: absolute;
  right: 20px;
}

.no-deco {
  text-decoration: none !important;
}

#link_reappearance_title, #link_reappearance_link {
  color: gold;
}


#create-item-button:focus, #create-item-button:active:focus, #create-item-button.active:focus{
    outline:none;
    box-shadow:none;
}

#export-screenshot:focus, #export-screenshot:active:focus, #export-screenshot.active:focus{
    outline:none;
    box-shadow:none;
}

#export-toc:focus, #export-toc:active:focus, #export-toc.active:focus{
    outline:none;
    box-shadow:none;
}

#questionStatistics
{
  height: 40vh;
}

#questionStatisticsBox
{
  overflow-y: scroll;
  transform: scaleX(-1); // that is done in order to have the scrollbar on the left side
  height: 40vh;
}
#questionStatisticsArea
{
  transform: scaleX(-1); // revert the mirroring from parent element
}

.details-warning {
  display: none;
}

#remove-screenshot, #export-screenshot, #export-toc, #export-references,
#import-script-items {
  text-decoration: none;
}