.navbars-container {
    background-image: image-url('navbar-background.jpg');
    background-size: cover;
}

#mampfbrand {
    color: white;
    font-weight: bold;
    filter: drop-shadow(1px 4px 7px rgba(0, 0, 0, 0.2));
}

#mampf-logo {
    width: 35px;
}

.navbar-nav a {
    filter: drop-shadow(1px 4px 7px rgba(0, 0, 0, 0.2));
}

.navbar {
    box-shadow: 1px 4px 7px -2px rgba(0, 0, 0, 0.1);
    z-index: 1000; // place navbar and its shadow on top of everything
}