// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cy {
  width: 100%;
  height: 70vh;
}

#relatedSections {
  height: 20vh;
    overflow-y: scroll;
}

#relatedTagsBody {
  overflow-y: scroll;
  height: calc(50vh + 20px);
}

