
#thyme-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto';
}

#editor-container {
  height:100vh;
  width: 100vw;
}

#thyme {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background: black;
}

#hypervideo-container {
  font-size: 0;
  position: relative;
  background: white;
  margin: 0;
}

#video {
  width: 82%;
  height: auto;
  display: inline-block;
}

#hypervideo-container figcaption {
  position: absolute;
  right: 0; top: 0;
  background: white;
  width: 18%;
  font-size: .8rem;
  color: #666;
  height: 100%;
	outline: 0;
}

#hypervideo-container figcaption ol {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#video-container {
	position: relative;
}

#video-controlBar {
	width: 82%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	width: 82%;
	height: auto;
	background: lightgray;
	-webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#video-controls {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 100%;
}


#timeline {
	position: absolute;
	display: flex;
	width: 50%;
}

#current-time {
	font-size: 12px;
	padding: 4px;
}

#seek-bar {
	flex-grow: 5;
	margin-top: 7px;
}

#max-time {
	font-size: 12px;
	padding: 4px;
}

#special-buttons {
	position: absolute;
	display: flex;
	left: 52%;
}

.clickable
{
  cursor: pointer;
}

#previous-chapter {
	margin-left: 10px;
}

#volume-controls {
	position: absolute;
	display: flex;
	width: 10%;
	left: 68%;
}

#speed-control {
	position: absolute;
	padding: 3px;
	font-size: 12px;
	left: 79%;
}

#volume-bar {
	flex-grow: 2;
	min-width: 50%;
	margin-top: 7px;
	margin-left: 4px;
}

#emergency-button {
  position: absolute;
  display: flex;
  left: 89%;
}

#annotations-toggle {
  position: absolute;
  display: flex;
  left: 89%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

#size-buttons {
	position: absolute;
	right: 0%;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 6px;
    height: 10px;
		background-image: linear-gradient(
      to right,
      #2497E3,
      #2497E3 0%,
      #ffffff 0%,
      #ffffff
    );
}

input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #2497E3;
    height: 16px;
    width: 16px;
    border-radius: 50%;
		border: 1px solid black;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid black;
  background-color: #2497E3;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

figure {
  box-sizing: border-box;
}


#chapters li a {
  display: block;
  color: black;
  padding: .7rem 1rem;
  transition: .3s;
  border-bottom: 1px solid lightgrey;
}

#chapters .current {
  background: lightcyan;
  color: #000;
}


#metadata {
  position: relative;
  height: calc(0.5*(100% - 6em - 4em));
  border: 1px solid darkgray;
  overflow-y: scroll;
	color: #484848;
}

#metadata .current {
  color: black;
	-webkit-animation: yellow-fade 10s ease-in;
	-moz-animation: yellow-fade 10s ease-in;
	-o-animation: yellow-fade 10s ease-in;
	animation: yellow-fade 10s ease-in;
}


@-webkit-keyframes yellow-fade {
  from {
    background: gold;
  }
  to {
    background: #fff;
  }
}
@-moz-keyframes yellow-fade {
  from {
    background: gold;
  }
  to {
    background: #fff;
  }
}
@keyframes yellow-fade {
  from {
    background: gold;
  }
  to {
    background: #fff;
  }
}


#metadata li a i {
	font-size: 1.5em;
}

#metadata li {
	display: flex;
	justify-content: space-between;
  position: relative;
  border-bottom: 1px solid darkgrey;
	text-decoration: none;
	padding: 5px;
}

#metadata li a {
	color: inherit;
  display: block;
  text-decoration: none;
  padding: 3px;
}

.item:hover, .item:focus{
	background: #f0f0f0;
	cursor: pointer;
}


#chapters li a:not(.current):hover,
#chapters li a:not(.current):focus {
  background: #f0f0f0;
  color: #000;
  cursor: pointer;
}

#chapters li a.current:hover,
#chapters li a.current:focus {
  background: #b3ffff;
  color: #000;
  cursor: pointer;
}


#infobar {
  height: 6em;
  background: lightgray;
  color: black;
  overflow-y: scroll;
  padding: 3px;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

#ia-close {
  padding-right: 20px;
}

#separator {
  height: 4em;
  background: #e6e6e6;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
	display: flex;
	justify-content: center;
	align-items: center;
}


#chapters {
  position: relative;
  height: calc(0.5*(100% - 6em - 4em));
  border: 1px solid darkgray;
  overflow-y: scroll;
}

.replay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bg-active {
  background: lightgrey;
}

:-webkit-full-screen::-webkit-backdrop
 {
   background-color: black;
 }


#markers {
  position: relative;
  top: -2px;
  width: 0;
  height: 0;
  display: flex;
  cursor: pointer;
}

#annotation-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#annotation-infobar {
  height: 2em;
  color: black;
  overflow-y: scroll;
  padding: 3px;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

#annotation-comment {
  margin-left: 3px;
  margin-right: 3px;
  overflow-y: scroll;
  height: 85%;
}

#annotation-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  margin-top: auto;
}


/* A collection of all colors.
Be aware that color changes must also be written in the
AnnotationHelper! */

$annotation_colors: (
  annotation_color1: #DB2828,
  annotation_color2: #F2711C,
  annotation_color3: #FBBD08,
  annotation_color4: #B5CC18,
  annotation_color5: #21BA45,
  annotation_color6: #00B5AD,
  annotation_color7: #2185D0,
  annotation_color8: #6435C9,
  annotation_color9: #A333C8,
  annotation_color10: #E03997,
  annotation_color11: #d05d41,
  annotation_color12: #924129,
  annotation_color13: #444444,
  annotation_color14: #999999,
  annotation_color15: #eeeeee,
);

* {
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
  &:checked + label {
    span { transform: scale(1.25); }
    @each $name, $value in $annotation_colors {
      .#{$name} {
        border: 2px solid black;
      }
    }
  }
}

#annotation-color-picker {
  text-align: center;
  label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    cursor: pointer;
    &:hover {
      span { 
        transform: scale(1.25); 
      }
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform .2s ease-in-out;
      @each $name, $value in $annotation_colors {
        &.#{$name} {
          background: $value;
        }
      }
    }
  }
}
