@import "branding";

#vignette-edit-header {
    border: $mampf-blue 1.5px solid;
    border-radius: 0.5em;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0px 2px 7px 0rem mampf-blue(0.1);
}

h1, h2 {
    color: $mampf-blue;
}