@import "branding";

#vignette-take-card {
    padding: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: $mampf-blue 2px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
}

.slide-header {
    padding: 0.75rem 1.25rem;
    background-color: $mampf-blue;
}

.slide-footer-btn {
    background-color: $mampf-blue;
    color: white;
    transition: 150ms ease-in-out;

    &:hover {
        background-color: $mampf-blue-focus;
        color: white;
        box-shadow: 0px 2px 7px 0rem mampf-blue(0.2);
    }
}

.vignette-answer {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}