<% content_for :thredded_page_title, t('thredded.nav.moderation') %>
<% content_for :thredded_page_id, 'thredded--moderation-users' %>
<%= render 'nav' %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= t('basics.nothing_here') %>
  </section>
<% end %>