<p class="h1">
  <%= t('.greeting',
        recipient: @resource.email,
        locale: @resource.locale,
        default: "Welcome #{@resource.email}!")  %>
</p>

<p>
  <%= t('.instruction',
        locale: @resource.locale,
        default: 'You can confirm your account email through the link below:') %>
</p>

<p>
  <%= link_to t('.action',
                locale: @resource.locale,
                default: 'Confirm my account'),
                confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale),
                :class => "btn btn-primary" %>
</p>
