<p>Hallo, <%= @resource.email %>!</p>

Jemand hat einen Link zur Änderung Deines MaMpf-Passwortes angefordert.
Klicke auf den unten aufgeführten Link, um das MaMpf-Passwort zu ändern.

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Bitte ignoriere diese E-Mail, wenn Du kein neues MaMpf-Passwort angefordert hast.</p>

<p>Das MaMpf-Passwort wird nicht geändert, bis Du den obenstehenden Link abrufst und ein neues MaMpf-Passwort bestimmst.
