.turbo-progress-bar {
    visibility: hidden;
}

:root {
    --login-progress: 0%;
}

.progress-border {
    position: absolute;
    max-width: 630px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: conic-gradient(from 0deg,
            #8F5FE782 0%,
            #0978EE9D var(--login-progress, 0%),
            transparent var(--login-progress, 0%),
            transparent 100%);
}