.turbo-progress-bar {
    visibility: hidden;
}

:root {
    --login-progress: 0%;
}

.progress-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: conic-gradient(from 0deg,
            #8F5FE7 0%,
            #00d4ff var(--login-progress, 0%),
            transparent var(--login-progress, 0%),
            transparent 100%);
}
