<div class="row p-2">
  <div class="col-8">
    <div class="card bg-light mb-4" id="remark-basics-edit">
      <%= render partial: 'remarks/basics',
                 locals: { remark: remark } %>
    </div>
  </div>
</div>
