<div class="row p-2">
  <div class="col-8">
    <div id="remark-basics-edit" class="card bg-light mb-4">
      <%= render partial: 'remarks/basics',
      locals: { remark: remark } %>
    </div>
  </div>
</div>
