<% if remark.image.attached? %>
  <div>
    Preview:
  </div>
  <div class="col-12 my-2 text-center">
    <%= image_tag url_for(remark.image), class: "img-fluid" %>
  </div>
  <button id="button-remark-remove-image" type="button"
          class="btn btn-sm btn-secondary m-2"
          data-id="<%= remark.id %>">
    Bild entfernen
  </button>
<% end %>
