<div class="row p-2 mb-3">
  <div class="col-8">
    <h4 class="p-2">
      <span class="badge badge-secondary">
        Bemerkung
      </span>
      <%= @remark.label %>
    </h4>
  </div>
  <div class="col-4 text-right">
    <%= link_to 'zum Medium',
                edit_medium_path(@remark.medium),
                class: 'btn btn-primary' %>
  </div>
</div>
<%= render partial: 'remarks/data', locals: { remark: @remark } %>
<%= render partial: 'quizzes/reassign_modal' %>
