<div id="student_registration_rosterized_entries">
  <%= render RosterizedEntriesComponent.new(
        rosterized_entries: rosterized_entries,
        lecture: lecture,
        user: current_user
      ) %>
</div>

<div
  id="student_registration_options"
  class="campaign-list d-flex flex-column gap-4"
>
  <%= render partial: "user_registrations/registration_options",
             locals: {
               campaigns_details: campaigns_details,
               self_rosterables: self_rosterables,
               rosterized_entries: rosterized_entries,
               lecture: lecture
             } %>
</div>
