<div class="modal fade" id="vignetteModal" tabindex="-1" role="dialog"
     aria-labelledby="vignetteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="vignetteModalLabel">
          <%= t("vignettes.create_new") %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <%= render 'vignettes/questionnaires/new/vignette_form', lecture: @lecture %>
    </div>
  </div>
</div>