<%= link_to t('profile.change_data'),
              edit_user_registration_path,
class: "btn btn-outline-secondary" %>

<button id="open-request-data" type="button" class="btn btn-outline-secondary"
  data-bs-target="#requestDataModal" data-bs-toggle="modal">
  <%= t('profile.data_request') %>
</button>

<%= link_to t('profile.delete_account'),
            delete_account_path,
            class: "btn btn-outline-danger",
            "data-cy": "delete-account-btn",
remote: true %>
