<div class="mb-3">
  <%= t('profile.data_explanation') %>
</div>
<div>
  <%= link_to t('profile.data_request'),
              request_data_path,
              class: 'btn btn-sm btn-primary',
              data: { confirm: t('confirmation.generic') } %>
</div>