<div
  id="subscriptionModal"
  class="modal fade"
  aria-hidden="true"
  aria-labelledby="subscriptionModalLabel"
  data-backdrop="static"
  data-keyboard="false"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="subscriptionModalLabel"
          class="modal-title">
          <%= t('profile.subscribe_lecture') %>
        </h5>
        <button type="button"
          class="btn-close"
          aria-label="Close"
          data-bs-dismiss="modal">
        </button>
      </div>
      <div id="subscription-modal-content"
        class="modal-body">
      </div>
    </div>
  </div>
</div>
