<% Program.includes(divisions: [courses: [lectures: [:term, :teacher]]])
          .select { |p| p.courses.any? }.each do |p| %>
  <div class="row">
    <div class="accordion col-12"
         id="subscriptionsAccordion">
      <div class="card">
        <div class="card-header">
          <%= link_to p.name_with_subject,
                      '#subject-' + p.id.to_s + '-collapse',
                      data: { toggle: 'collapse' } %>
        </div>
        <div id="<%= 'subject-' + p.id.to_s + '-collapse' %>"
             class="collapse"
             data-parent="#subscriptionsAccordion">
          <div class="card-body">
            <%= render partial: 'profile/divisions',
                       locals: { divisions: p.divisions.select { |p| p.courses.any? },
                                 f: f } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
