<%= t('privacy_html',
      policy: link_to(t('policy'),
                      'https://www.uni-heidelberg.de/datenschutzerklaerung_web.html',
                      target: :_blank)) %>
<div class="row mt-2">
  <div class="col-12 text-center">
    <%= link_to t('buttons.i_consent'),
                add_consent_path,
                class: 'btn btn-sm btn-primary',
                method: :patch %>
    <%= link_to t('buttons.delete_account'),
                user_registration_path,
                class: 'btn btn-sm btn-danger',
                data: { confirm: t('confirmation.generic') },
                method: :delete %>
  </div>
</div>
