<%= bootstrap_form_with url: profile_update_path, scope: 'user',
                        html: { id: 'profileForm'} do |f| %>
  <div class="alert alert-secondary" id="profileChange">
    <div class="profileChangeWarning" style="display: flex; justify-content: space-between;">
      <div>
        <%= t('profile.changes_made') %>
      </div>
      <div>
        <%= f.submit t('profile.update'),
                     class: 'btn btn-info' %>
      </div>
    </div>
  </div>

  <div class="container-md small-width">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>