<%= link_to 'Main', root_path %>

<h1>User Profile</h1>

<%= link_to 'Edit', edit_profile_path %>

<h2>Lectures</h2>

<table>
  <thead>
    <tr>
      <th>LectureId</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @user.lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.id %></td>
        <td><%= lecture.to_label %></td>
      </tr>
    <% end %>
  </tbody>
</table>
