<title>
  <%= full_title(yield(:title)) %>
</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application',
                        media: 'all',
                        'data-turbolinks-track': 'reload' %>
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"
      integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/"
      crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto'
      rel='stylesheet'>
<%= javascript_include_tag 'application',
                           'data-turbolinks-track': 'reload' %>
<script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js">
</script>
<script src="https://transloadit.edgly.net/releases/uppy/v0.25.2/dist/uppy.min.js">
</script>
<link href="https://transloadit.edgly.net/releases/uppy/v0.25.2/dist/uppy.min.css"
      rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">