<title>
  <%= full_title(yield(:title)) %>
</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application',
                        media: 'all',
                        'data-turbolinks-track': 'reload' %>
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto'
      rel='stylesheet'>
<%= javascript_include_tag 'application',
                           'data-turbolinks-track': 'reload' %>
<script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/uppy@1.2.0/dist/uppy.min.js">
</script>
<link href="https://cdn.jsdelivr.net/npm/uppy@1.2.0/dist/uppy.min.css"
      rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.7.2/cytoscape.min.js">
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js" integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">