<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <%= stylesheet_pack_tag "styles/email" %>
  </head>
  <body>
    <div class='container text-center'>
      <%= email_image_tag('/MaMpf-Logo_96x96.png',
                          class: 'img-fluid mb-2 pt-4 pb-3') %>
      <div class="jumbotron">

        <%= yield %>

      </div>
    </div>

    <div class="small text-center">
      <small class="text-muted">
        <%= t('.reason',
              default: "",
              locale: @resource.locale) %>
      </small>
    </div>
  </body>
</html>
