<p data-cy="redeem-voucher-text">
  <%= t('profile.become_teacher', lecture: voucher.lecture.title) %>
</p>

<% if current_user == voucher.lecture.teacher %>
  <%= t('profile.already_teacher') %>
<% else %>
  <%= redeem_voucher_button(voucher) %>
<% end %>

<%= cancel_voucher_button %>